<div class="light-bg">
  <div class="grid-container">
    <br />
    <br />
    <br />
    <br />
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <h1 class="mb-05 font-weight-400 text-center">Items Uploaded</h1>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <p class="font-weight-400 text-center">Speed up your mortgage loan with uploading items we need.</p>
    </div>
    <br />
    <br />
    <br />
  </div>
</div>
<div class="grid-container grid-container_lg">

  <div #topOfPage></div>
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <div fxFlex="1 1 100">
      <mat-card class="no-float" [@400]="'fadeIn'" class="table-container mat-elevation-z6 pl-0 pr-0">
        <!-- <br /> -->
        <!-- <br />
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <h3>Items Needed</h3>
        </div>
        <br />
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <p class="ph-20">Below is a list of items that we need to complete your mortgage loan(s). Upload documents below to speed up the mortgage process. If you need help, contact us at <a mat-link href="mailto:tyler@mortgagepartner.com"
              class="text-primary" rel="noopener">tyler@mortgagepartner.com</a>
          </p>
        </div>
        <br /> -->
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="ph-20 pb-10">
          <a mat-raised-button rel="noopener" color="primary" [routerLink]="[ '../../', 'upload' ]">Upload documents</a>
          <div>
            <button mat-button type="button" (click)="downloadAllFiles()" *ngIf="!store.isLoadingUploads" class="mr-05">
              <mat-icon class="material-icons-outlined mat-18 prt--02">file_download</mat-icon>&nbsp; Download attachments
            </button>
            <button mat-button type="button" (click)="store.getFileUploads()" [disabled]="store.isLoadingUploads" class="mr-05">
              <mat-icon class="material-icons-outlined mat-18 prt--02">refresh</mat-icon>&nbsp; Refresh<mat-spinner [diameter]="24" color="primary" *ngIf="store.isLoadingUploads"></mat-spinner>
            </button>
            <help-button matTooltipText="Click for uploads help" matTooltipPosition="after" helpText="Need help with your uploads?" buttonText="Get help with your uploads" matType="stroked"></help-button>
          </div>
        </div>
        <!-- <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="p-20">
          <button mat-raised-button type="button" (click)="startNewApp()" color="primary">Create application</button>
          <button mat-stroked-button type="button" (click)="store.getApplications()">Refresh</button>
        </div> -->
        <br />
        <br />
        <div fxLayout="row wrap" fxLayoutAlign="end center">
          <mat-form-field appearance="outline" fxFlex.xs="100" fxFlex.gt-xs="35" class="ph-20 mr-15 mat-form-field_sm">
            <mat-label>Search uploads</mat-label>
            <mat-icon matSuffix class="clickable" (click)="resetFilter()">{{filter.length >0 ? "cancel" : "search"}}</mat-icon>
            <input matInput tabindex="0" type="text" placeholder="Drivers license, taxes, bank statements..." id="uploadsSearch" name="uploadsSearch" (keyup)="applyFilter($event.target.value)" [(ngModel)]="filter" #uploadSearch="ngModel"
              maxlength="250" [disabled]="store.isLoadingUploads">
            <mat-error *ngIf="uploadSearch.hasError('maxlength')">Cannot be longer than 250 characters.</mat-error>
            <mat-error *ngIf="uploadSearch.hasError('server')">{{uploadSearch.errors['server']}}</mat-error>
          </mat-form-field>
        </div>
        <ng-container *ngIf="!store.isLoadingUploads; else loading">
          <ng-container *ngIf="store.accUploads$.value && store.accUploads$.value.length>0; else noUploads">
            <br />
            <div fxLayout="row wrap" fxLayoutAlign="center start">
              <mat-table [dataSource]="store.uploadsSource" matSort matSortActive="data" matSortDirection="asc" class="scrollbar" fxFlex="100">

                <ng-container matColumnDef="icon">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-table-cell-icon center text-center"> </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="mat-table-cell-icon center text-center">
                    <!-- <mat-icon class="material-icons-outlined">cloud_upload</mat-icon> -->

                    <object data="../../../../assets/images/image_black_24dp.svg" class="img-thumbnail-icon">
                      <img [src]="row.downloadURL" [alt]="row.originalName" class="img-thumbnail">
                    </object>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="cell_40">Name</mat-header-cell>
                  <mat-cell *matCellDef="let row" class="cell_40">
                    {{row.originalName}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="date">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="center text-center"> Date </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="center text-center">{{row.date}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="for">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="center text-center"> Upload to </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="center text-center">{{row.fileForItem}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="action">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="cell_20 center text-center"> </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="cell_20 center text-center">
                    <div fxLayout="row wrap" fxLayoutAlign="center center">
                      <button mat-stroked-button color="primary" type="button" (click)="downloadFile(row)" class="ml-05">
                        Download
                      </button>
                    </div>
                  </mat-cell>
                </ng-container>
                <mat-header-row mat-header-row *matHeaderRowDef="uploadsColumns; sticky: true" class="pb-10"></mat-header-row>
                <mat-row mat-row *matRowDef="let row; columns: uploadsColumns;" class="pv-10"></mat-row>
                <!-- <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></mat-footer-row> -->
              </mat-table>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="center start" fxShow.lt-md fxHide.gt-sm>
              <p class="mb-0 mt-10 text-center"><small>Swipe left to scroll</small></p>
            </div>
            <div fxLayout="row" fxLayoutAlign="end center">
              <mat-paginator [length]="store.uploadsSource.filteredData?.length" [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
            </div>

          </ng-container>
        </ng-container>
      </mat-card>
    </div>
  </div>
</div>
<ng-template #noUploads>
  <br />
  <br />
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-icon class="material-icons-outlined mat-48">cloud_upload</mat-icon>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <h5 class="mb-0" class="text-center mt-15 mb-05 font-weight-400">No uploads found</h5>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <p class="mb-0" class="text-center mt-0 mb-20 font-weight-400"><small>*Based on filter</small></p>
  </div>
  <br />
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <a mat-stroked-button rel="noopener" [routerLink]="['../../', 'upload' ]">Upload documents</a>
  </div>
  <br />
  <br />
</ng-template>
<ng-template #loading>
  <div fxLayout="row wrap" fxLayoutAlign="center stretch">
    <div class="loading">
      <mat-spinner [diameter]="36" color="primary"></mat-spinner>
    </div>
  </div>
</ng-template>
