@import '../../../../assets/variables';

.my-drop-zone {

  .status_highlight {
    text-transform: capitalize;
    border-radius: 20px;
    display: inline-block;
    font-weight: 600;
    padding: 4px 12px;
    font-size: 0.813rem;

    &.Most.Recent,
    &.Received,
    &.Needed {
      background: #cdddf6;
      color: #0A1B36;
      // background: #f5f7fa;
      // color: #18212F;
    }

    &.Cleared {
      background: #c1dbb3;
      color: #192712;
    }

    &.Rejected {
      background: $Rejected;
      color: #281210 !important;
    }
  }
}

.img-thumbnail {
  width: 100%;
  height: 100%;
  max-width: 80px;
  max-height: 80px;
  border-radius: 4px;
}

.img-thumbnail-icon {
  width: 100%;
  height: 100%;
  max-width: 60px;
  max-height: 60px;
  border-radius: 4px;
}
