<div class="light-bg">
  <div class="grid-container">
    <!-- Subsection 5: Stand Out -->
    <br />
    <br />
    <br />
    <br />
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <h1 class="mb-05 font-weight-400 text-center">Applications</h1>
    </div>
    <br />
    <br />
    <br />
  </div>
</div>
<br />
<br />
<div class="grid-container grid-container_lg">
  <div #topOfPage></div>
  <div fxLayout="row wrap" fxLayoutAlign="center start">
    <div fxFlex="1 1 100">
      <mat-card class="no-float" [@400]="'fadeIn'" class="table-container mat-elevation-z6 pl-0 pr-0">
        <div fxLayout="row wrap" fxLayoutAlign="end center">
          <help-button matTooltipText="Click for applications help" buttonText="Get help with my applications" matTooltipPosition="after" helpText="Need help with your applications?" class="mr-15" matType="stroked">
          </help-button>
        </div>
        <br />
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <h3>Applications</h3>
        </div>
        <br />
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <p class="ph-20">These are all of your applications, if you would like to start another mortgage application, click Create application below. If you need to edit or delete an application, contact us at <a mat-link
              href="mailto:tyler@mortgagepartner.com" class="text-primary" rel="noopener">tyler@mortgagepartner.com</a>
          </p>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="p-20">
          <div>
            <a mat-raised-button rel="noopener" [routerLink]="[ '../../apply' ]" color="primary" *ngIf="store.applicationSource">Create application</a>
          </div>
          <button mat-button type="button" (click)="store.getApplications()" [disabled]="store.isLoadingApps">
            <mat-icon class="material-icons-outlined mat-18 prt--02">refresh</mat-icon>&nbsp; Refresh<mat-spinner [diameter]="24" color="primary" *ngIf="store.isLoadingApps"></mat-spinner>
          </button>
        </div>
        <br />
        <br />
        <div fxLayout="row wrap" fxLayoutAlign="end center">
          <mat-form-field appearance="outline" fxFlex.xs="100" fxFlex.gt-xs="35" class="ph-20 mr-15 mat-form-field_sm">
            <mat-label>Search applications</mat-label>
            <mat-icon matSuffix class="clickable" (click)="resetFilter()">{{filter.length >0 ? "cancel" : "search"}}</mat-icon>
            <input matInput tabindex="0" type="text" placeholder="1369 W 12600 S, 438,000, loan id..." id="appsSearch" name="appsSearch" (keyup)="applyFilter($event.target.value)" [(ngModel)]="filter" #appSearch="ngModel" maxlength="250" [disabled]="store.isLoadingApps">
            <mat-error *ngIf="appSearch.hasError('maxlength')">Cannot be longer than 250 characters.</mat-error>
            <mat-error *ngIf="appSearch.hasError('server')">{{appSearch.errors['server']}}</mat-error>
          </mat-form-field>
        </div>
        <ng-container *ngIf="!store.isLoadingApps; else loading">
          <ng-container *ngIf="store.applicationSource?.filteredData?.length>0; else noApps">
            <div fxLayout="row wrap" fxLayoutAlign="center start">
              <mat-table #table [dataSource]="store.applicationSource" matSort matSortActive="status" matSortDirection="asc" class="scrollbar" fxFlex="100">

                <ng-container matColumnDef="icon">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-table-cell-icon center text-center"> </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="mat-table-cell-icon center text-center">
                    <mat-icon class="material-icons-outlined">{{row.status === "Items Needed" ? "priority_high" : "description"}}</mat-icon>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="type">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    {{row.typeOfLoan}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="status">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="dark-primary pr-10 pl-10">Status</mat-header-cell>
                  <mat-cell *matCellDef="let row" class="pr-10 pl-10"
                    matTooltip="{{row.status === 'Items Needed' ? 'Click View to see the items we need' : (row.status === 'Started' ? 'Congratulations on your new application. We have received your application on our end. Click View to see the items we need.' : '')}}"
                    matTooltipPosition="above">
                    <mat-icon class="mat-14 mr-05" [ngClass]="row.status">circle</mat-icon>{{row.status}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="propAddress">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="center text-center"> Property
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="pr-10 center text-center">
                    <ng-container *ngIf="row.typeOfLoan === 'Purchase'; else showRefi">
                      <ng-container *ngIf="row.purStreetAddress; else preQual">
                        <div fxFlex="100">
                          <div fxLayout="row wrap" fxLayoutAlign="center center">
                            <div fxFlex="100" class="text-center">
                              {{row.purStreetAddress | titlecase}} <ng-container *ngIf="row.streetAddress2"> {{row.purStreetAddress2 | titlecase}}</ng-container>
                            </div>
                          </div>
                          <div fxLayout="row wrap" fxLayoutAlign="center center">
                            <div fxFlex="100" class="text-center">
                              {{row.purCity | titlecase}}, {{row.purState | titlecase}} {{row.purZipCode | titlecase}}
                            </div>
                          </div>
                        </div>
                      </ng-container>
                      <ng-template #preQual>
                        Pre-Qualification
                      </ng-template>
                    </ng-container>
                    <ng-template #showRefi>

                      <div fxFlex="100">
                        <div fxLayout="row wrap" fxLayoutAlign="center center">
                          <div fxFlex="100" class="text-center">
                            {{row.streetAddress | titlecase}} <ng-container *ngIf="row.streetAddress2"> {{row.streetAddress2 | titlecase}}</ng-container>

                          </div>
                        </div>
                        <div fxLayout="row wrap" fxLayoutAlign="center center">
                          <div fxFlex="100" class="text-center">
                            {{row.city | titlecase}}, {{row.state | titlecase}} {{row.zipCode | titlecase}}
                          </div>
                        </div>
                      </div>
                    </ng-template>

                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="loanAmount">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="cell_10 center text-center"> Amount </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="cell_10 center text-center">{{(row.typeOfLoan === 'Purchase' && row.salesPrice) ? '$' + row.desiredLoanAmount : row.typeOfLoan === 'Refinance (no cash out)' ? '$' + row.mortgageOwed : '---'}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="date">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="center text-center"> Date </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="center text-center">{{row.createdDate}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="cell_10 center text-center"> Loan # </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="cell_10 center">{{row.id}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="action">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-table-cell-icon center text-center"> </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="mat-table-cell-icon center text-center">
                    <div fxLayout="row wrap" fxLayoutAlign="center center">
                      <a mat-stroked-button rel="noopener" color="primary" [routerLink]="[ '../../apply']" [queryParams]="{id: row.id}">View</a>
                      <!-- <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="Application menu" [matMenuTriggerData]="{row: row}">
                          <mat-icon>more_vert</mat-icon>
                        </button> -->
                    </div>
                  </mat-cell>
                </ng-container>
                <mat-header-row mat-header-row *matHeaderRowDef="appsColumns; sticky: true" class="pb-10"></mat-header-row>
                <mat-row mat-row *matRowDef="let row; columns: appsColumns;" class="pv-05 clickable_hover clickable" matRipple [ngClass]="row.status" [routerLink]="[ '../../apply']" [queryParams]="{id: row.id}"></mat-row>
                <!-- <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></mat-footer-row> -->
              </mat-table>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="center start" fxShow.lt-md fxHide.gt-sm>
              <p class="mb-0 mt-10 text-center"><small>Swipe left to scroll</small></p>
            </div>
          </ng-container>
        </ng-container>
        <!-- <mat-menu #appMenu="matMenu">
              <ng-template matMenuContent let-aliasMenuItems="row">
                <ng-container *ngIf="aliasMenuItems && aliasMenuItems.status === 'Items Needed'">
                  <button mat-menu-item>
                    <mat-icon>priority_high</mat-icon>
                    <span>View items needed</span>
                  </button>
                </ng-container>
              </ng-template>
            </mat-menu> -->
      </mat-card>
    </div>
  </div>
</div>
<br />
<br />

<ng-template #noApps>
  <br />
  <br />
  <br />
  <br />
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-icon class="material-icons-outlined mat-48">description</mat-icon>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <h5 class="mb-0" class="text-center mt-15 mb-05 font-weight-400">No applications found</h5>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <p class="mb-0" class="text-center mt-0 mb-20 font-weight-400"><small>*Based on filter</small></p>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <a mat-raised-button rel="noopener" [routerLink]="[ '../../apply' ]" color="primary">Create application</a>
  </div>
  <br />
  <br />
  <br />
  <br />
</ng-template>
<ng-template #loading>
  <div fxLayout="row wrap" fxLayoutAlign="center stretch">
    <div class="loading">
      <mat-spinner [diameter]="36" color="primary"></mat-spinner>
    </div>
  </div>
</ng-template>
