<div class="light-bg">
  <div class="grid-container">
    <!-- Subsection 5: Stand Out -->
    <br />
    <br fxShow.gt-xs fxHide.xs />
    <br fxShow.gt-xs fxHide.xs />
    <br fxShow.gt-xs fxHide.xs />
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <h1 class="mb-0 font-weight-400 text-center">Dashboard</h1>
    </div>
    <br />
    <br fxShow.gt-xs fxHide.xs />
    <br fxShow.gt-xs fxHide.xs />
    <br fxShow.gt-xs fxHide.xs />
  </div>
</div>
<div #topOfPage></div>
<div class="grid-container grid-container_lg">
  <!-- Subsection 5: Stand Out -->
  <br />
  <br fxShow.gt-xs fxHide.xs />
  <br fxShow.gt-xs fxHide.xs />
  <br fxShow.gt-xs fxHide.xs />
  <ng-container *ngIf="true; else showMaintenance">
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap.lt-md="0px" fxLayoutGap.gt-sm="15px">

      <div fxFlex.lt-md="1 1 100" fxFlex.gt-sm="1 1 calc(33.333% - 7.5px)">

        <mat-card class="mat-elevation-z4">
          <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <h6 class="mb-0">Profile</h6>
            <ng-container *ngIf="!editProfile; else saveProfile">
              <button mat-button type="button" color="primary" (click)="editProfile = true;">Edit</button>
            </ng-container>
            <ng-template #saveProfile>
              <button mat-raised-button color="primary" type="button" (click)="updateProfile()">Save</button>

            </ng-template>
          </div>
          <br />
          <ng-container *ngIf="!waitingForUser; else loading">
            <ng-container *ngIf="userData; else noUser">
              <div fxLayout="row wrap" fxLayoutAlign="start center" class="pv-15">
                <div fxFlex="54px">
                  <mat-icon class="material-icons-outlined ml-15 mr-15">face</mat-icon>
                </div>
                <div fxFlex="calc(100% - 54px)">
                  <ng-container *ngIf="!editProfile; else editName">
                    <div fxLayout="row wrap" fxLayoutAlign="start center" [@400]="'fadeIn'">
                      <h6 class="mb-0" class="mb-05 font-weight-500">{{store.userInfo$.value.firstName}}&nbsp;{{store.userInfo$.value.lastName}}
                      </h6>
                    </div>
                    <div fxLayout="row wrap" fxLayoutAlign="start center">
                      <p class="mb-0"><small class="mb-05 font-weight-400">Name</small></p>
                    </div>
                  </ng-container>
                  <ng-template #editName>
                    <div fxLayout="row wrap" fxLayoutAlign="start center" [@400]="'fadeIn'">
                      <mat-form-field appearance="outline" fxFlex="100" class="ph-05 mat-form-field_sm">
                        <mat-label>First name</mat-label>
                        <input matInput tabindex="0" type="text" placeholder="John/Jane" id="legalFName" name="legalFName" #legalFName="ngModel" [(ngModel)]="userData.firstName" mapError="firstName" required minlength="1" maxlength="46"
                          autocomplete="given-name" pattern="^[^-\s][a-zA-Z_\s-]+$">
                        <mat-error *ngIf="legalFName.hasError('maxlength')">Cannot be longer than 46 characters.</mat-error>
                        <mat-error *ngIf="legalFName.hasError('required')">First name is required.</mat-error>
                        <mat-error *ngIf="legalFName.hasError('server')">{{legalFName.errors['server']}}</mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline" fxFlex="100" class="ph-05 mat-form-field_sm full-width">
                        <mat-label>Last name</mat-label>
                        <input matInput tabindex="0" type="text" placeholder="Doe" id="legalLName" name="legalLName" #legalLName="ngModel" [(ngModel)]="userData.lastName" mapError="lastName" required minlength="1" maxlength="46"
                          autocomplete="family-name" pattern="^[^-\s][a-zA-Z_\s-]+$">
                        <mat-error *ngIf="legalLName.hasError('maxlength')">Cannot be longer than 46 characters.</mat-error>
                        <mat-error *ngIf="legalLName.hasError('required')">Last name is required.</mat-error>
                        <mat-error *ngIf="legalLName.hasError('server')">{{legalLName.errors['server']}}</mat-error>
                      </mat-form-field>
                    </div>
                  </ng-template>
                </div>

              </div>
              <div fxLayout="row wrap" fxLayoutAlign="start center" class="pv-15">
                <div fxFlex="54px">
                  <mat-icon class="material-icons-outlined ml-15 mr-15">mail</mat-icon>
                </div>
                <div fxFlex="calc(100% - 54px)">
                  <ng-container *ngIf="!editProfile; else editEmail">
                    <div fxLayout="row wrap" fxLayoutAlign="start center" [@400]="'fadeIn'">
                      <h6 class="mb-0" class="mb-05 font-weight-500">{{store.userInfo$.value.emailAddress}}
                      </h6>
                    </div>
                    <div fxLayout="row wrap" fxLayoutAlign="start center">
                      <p class="mb-0"><small class="mb-05 font-weight-400">Email address</small></p>
                    </div>
                  </ng-container>
                  <ng-template #editEmail>
                    <div fxLayout="row wrap" fxLayoutAlign="start center" [@400]="'fadeIn'">
                      <mat-form-field class="ph-05 mat-form-field_sm full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" placeholder="user@email.com" name="em" id="em" autocomplete="none" maxlength="35" minlength="7" #cemail="ngModel" [(ngModel)]="userData.emailAddress" required autocomplete="email">
                        <mat-icon matSuffix class="material-icons-outlined">email</mat-icon>
                        <mat-error *ngIf="cemail.hasError('minlength')">Email is too short.</mat-error>
                        <mat-error *ngIf="cemail.hasError('maxlength')">Email is too long.</mat-error>
                        <mat-error *ngIf="cemail.hasError('required')">Email is required.</mat-error>
                      </mat-form-field>
                    </div>
                  </ng-template>
                </div>
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="start center" class="pv-15">
                <div fxFlex="54px">
                  <mat-icon class="material-icons-outlined ml-15 mr-15">phone</mat-icon>
                </div>
                <div fxFlex="calc(100% - 54px)">
                  <ng-container *ngIf="!editProfile; else editPhone">
                    <div fxLayout="row wrap" fxLayoutAlign="start center" [@400]="'fadeIn'">
                      <h6 class="mb-0" class="mb-05 font-weight-500">{{store.userInfo$.value.phoneNumber}}
                      </h6>
                    </div>
                    <div fxLayout="row wrap" fxLayoutAlign="start center">
                      <p class="mb-0"><small class="mb-05 font-weight-400">Phone number</small></p>
                    </div>
                  </ng-container>
                  <ng-template #editPhone>
                    <div fxLayout="row wrap" fxLayoutAlign="start center">
                      <mat-form-field appearance="outline" class="ph-05 mat-form-field_sm full-width" [@400]="'fadeIn'">
                        <mat-label>Phone number</mat-label>
                        <input matInput [textMask]="mask" tabindex="0" type="tel" placeholder="(801) 302-0100" id="phone" name="phone" #phone="ngModel" [(ngModel)]="userData.phoneNumber" mapError="phoneNumber" required phone minlength="14"
                          autocomplete="tel">
                        <mat-error *ngIf="phone.hasError('required')">Phone number is required.</mat-error>
                        <mat-error *ngIf="phone.hasError('maxlength')">Cannot be longer than 16 characters.</mat-error>
                        <mat-error *ngIf="phone.hasError('server')">{{phone.errors['server']}}</mat-error>
                      </mat-form-field>
                    </div>
                  </ng-template>
                </div>
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="start center" class="pv-15 clickable clickable_hover" matRipple (click)="auth.sendPasswordResetEmail(store.userInfo$.value.emailAddress)">
                <div fxFlex="54px">
                  <mat-icon class="material-icons-outlined ml-15 mr-15">lock</mat-icon>
                </div>
                <div fxFlex="calc(100% - 54px)">
                  <div fxLayout="row wrap" fxLayoutAlign="start center">
                    <h6 class="mb-0" class="mb-05 font-weight-500">Click to change password
                    </h6>
                  </div>
                  <div fxLayout="row wrap" fxLayoutAlign="start center">
                    <p class="mb-0"><small class="mb-05 font-weight-400">Password</small></p>
                  </div>
                </div>
              </div>
              <br />
              <br />
            </ng-container>
            <ng-template #noUser>
              <br />
              <br />
              <br />
              <div fxLayout="row wrap" fxLayoutAlign="center center">
                <mat-icon class="material-icons-outlined mat-48">warning</mat-icon>
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="center center">
                <h6 class="mb-0" class="text-center mt-15 mb-20">You may have been logged out.</h6>
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="center center">
                <p class="text-center mb-05"><small>Try logging back in.</small></p>
              </div>
              <br />
              <br />
              <br />
            </ng-template>
          </ng-container>
        </mat-card>
      </div>
      <div fxFlex.lt-md="1 1 100" fxFlex.gt-sm="1 1 calc(66.666% - 7.5px)">
        <mat-card class="mat-elevation-z4 table-container">
          <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <h6 class="mb-0">Items Needed</h6>
            <a mat-raised-button color="primary" [routerLink]="[ './', 'items-needed' ]" *ngIf="store.itemsNeededSource?.filteredData.length>0">View items needed</a>
          </div>
          <ng-container *ngIf="!store.isLoadingItemsNeeded; else loading">
            <ng-container *ngIf="store.itemsNeededSource?.filteredData.length>0; else noItemsNeeded">
              <br />
              <div fxLayout="row wrap" fxLayoutAlign="center start">
                <mat-table #table [dataSource]="store.itemsNeededSource" matSort matSortActive="item" matSortDirection="asc" class="scrollbar" fxFlex="100">
                  <ng-container matColumnDef="icon">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-table-cell-icon center text-center"> </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="mat-table-cell-icon center text-center">
                      <mat-icon class="material-icons-outlined">upload_file</mat-icon>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="item">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="cell_40">Item</mat-header-cell>
                    <mat-cell *matCellDef="let row" class="cell_40">
                      {{row.title | titlecase}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="borrower">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="pr-10 pl-10 cell_25">Borrower</mat-header-cell>
                    <mat-cell *matCellDef="let row" class="pr-10 pl-10 cell_25">
                      {{row.borrower | titlecase}}<ng-container *ngIf="row.coBorrower != ' '">& {{row.coBorrower | titlecase}}</ng-container>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="priorTo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="center text-center cell_25"> Prior To </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="center text-center cell_25">{{row.priorTo}}
                    </mat-cell>
                  </ng-container>
                  <mat-header-row mat-header-row *matHeaderRowDef="itemsColumns; sticky: true" class="pb-10"></mat-header-row>
                  <mat-row mat-row *matRowDef="let row; columns: itemsColumns;" class="pv-05 clickable clickable_hover" [ngClass]="row.status" [routerLink]="[ './', 'items-needed' ]" matRipple></mat-row>
                  <!-- <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></mat-footer-row> -->
                </mat-table>
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="center start" fxShow.lt-md fxHide.gt-sm>
                <p class="mb-0 mt-10 text-center"><small>Swipe left to scroll</small></p>
              </div>
              <div fxLayout="row" fxLayoutAlign="end center">
                <mat-paginator [length]="store.itemsNeededSource?.filteredData.length" [pageSizeOptions]="[3, 5, 10]" showFirstLastButtons></mat-paginator>
              </div>
            </ng-container>
          </ng-container>
          <ng-template #noItemsNeeded>
            <br />
            <br />
            <br />
            <div fxLayout="row wrap" fxLayoutAlign="center center">
              <mat-icon class="material-icons-outlined mat-48">check</mat-icon>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="center center">
              <h6 class="mb-0" class="text-center mt-15 mb-20">Looks like we don't need any items from you.</h6>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="center center">
              <p class="text-center mb-05"><small>Check back later to stay up-to-date.</small></p>
            </div>
            <br />
            <br />
            <br />
            <br />
          </ng-template>


        </mat-card>
      </div>

    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxFlex="100">
        <mat-card class="mat-elevation-z4 table-container pl-0 pr-0">
          <div fxLayout="row wrap" fxLayoutAlign="start center">
            <h6 class="mb-0 pl-15 pr-15">Applications</h6>
            <br />
            <br />
          </div>

          <ng-container *ngIf="!store.isLoadingApps; else loading">
            <ng-container *ngIf="store.applications$.value && store.applications$.value.length>0; else noApps">

              <div fxLayout="row wrap" fxLayoutAlign="start center">
                <div fxFlex="1 1 100">
                  <br />
                  <div fxLayout="row wrap" fxLayoutAlign="center center">
                    <p class="ph-20">These are all of your applications, if you would like to start another mortgage application, click Create application below. If you need to edit or delete an application, contact us at <a mat-link
                        href="mailto:tyler@mortgagepartner.com" class="text-primary" rel="noopener">tyler@mortgagepartner.com</a>
                    </p>
                  </div>

                  <br />
                  <div fxLayout="row wrap" fxLayoutAlign="center start">
                    <mat-table [dataSource]="store.applicationSource" matSort matSortActive="data" matSortDirection="asc" class="scrollbar" fxFlex="100">

                      <ng-container matColumnDef="icon">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-table-cell-icon center text-center"> </mat-header-cell>
                        <mat-cell *matCellDef="let row" class="mat-table-cell-icon center text-center">
                          <mat-icon class="material-icons-outlined">{{row.status === "Items Needed" ? "priority_high" : "description"}}</mat-icon>
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="type">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          {{row.typeOfLoan}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="dark-primary pr-10 pl-10">Status</mat-header-cell>
                        <mat-cell *matCellDef="let row" class="pr-10 pl-10">
                          <mat-icon class="mat-14 mr-05" [ngClass]="row.status">circle</mat-icon>{{row.status}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="propAddress">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="center text-center"> Property
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" class="pr-10 center text-center">
                          <ng-container *ngIf="row.typeOfLoan === 'Purchase'; else showRefi">
                            <ng-container *ngIf="row.purStreetAddress; else preQual">
                              <div fxFlex="100">
                                <div fxLayout="row wrap" fxLayoutAlign="center center">
                                  <div fxFlex="100" class="text-center">
                                    {{row.purStreetAddress | titlecase}} <ng-container *ngIf="row.streetAddress2"> {{row.purStreetAddress2 | titlecase}}</ng-container>
                                  </div>
                                </div>
                                <div fxLayout="row wrap" fxLayoutAlign="center center">
                                  <div fxFlex="100" class="text-center">
                                    {{row.purCity | titlecase}}, {{row.purState | titlecase}} {{row.purZipCode | titlecase}}
                                  </div>
                                </div>
                              </div>
                            </ng-container>
                            <ng-template #preQual>
                              Pre-Qualification
                            </ng-template>
                          </ng-container>
                          <ng-template #showRefi>

                            <div fxFlex="100">
                              <div fxLayout="row wrap" fxLayoutAlign="center center">
                                <div fxFlex="100" class="text-center">
                                  {{row.streetAddress | titlecase}} <ng-container *ngIf="row.streetAddress2"> {{row.streetAddress2 | titlecase}}</ng-container>

                                </div>
                              </div>
                              <div fxLayout="row wrap" fxLayoutAlign="center center">
                                <div fxFlex="100" class="text-center">
                                  {{row.city | titlecase}}, {{row.state | titlecase}} {{row.zipCode | titlecase}}
                                </div>
                              </div>
                            </div>
                          </ng-template>

                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="loanAmount">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="cell_10 center text-center"> Amount </mat-header-cell>
                        <mat-cell *matCellDef="let row" class="cell_10 center text-center">
                          {{(row.typeOfLoan === 'Purchase' && row.salesPrice) ? '$' + row.desiredLoanAmount : row.typeOfLoan === 'Refinance (no cash out)' ? '$' + row.mortgageOwed : '---'}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="date">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="center text-center"> Date </mat-header-cell>
                        <mat-cell *matCellDef="let row" class="center text-center">{{row.createdDate}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="cell_10 center text-center"> Loan # </mat-header-cell>
                        <mat-cell *matCellDef="let row" class="cell_10 center">{{row.id}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-table-cell-icon center text-center"> </mat-header-cell>
                        <mat-cell *matCellDef="let row" class="mat-table-cell-icon center text-center">
                          <div fxLayout="row wrap" fxLayoutAlign="center center">
                            <button mat-stroked-button type="button" color="primary" (click)="routeToApp(row)">View</button>
                            <!-- <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="Application menu" [matMenuTriggerData]="{row: row}">
                              <mat-icon>more_vert</mat-icon>
                            </button> -->
                          </div>
                        </mat-cell>
                      </ng-container>
                      <mat-header-row mat-header-row *matHeaderRowDef="appsColumns; sticky: true" class="pb-10"></mat-header-row>
                      <mat-row mat-row *matRowDef="let row; columns: appsColumns;" class="clickable clickable_hover pv-10" matRipple (click)="routeToApp(row)"></mat-row>
                      <!-- <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></mat-footer-row> -->
                    </mat-table>
                  </div>
                  <div fxLayout="row wrap" fxLayoutAlign="center start" fxShow.lt-md fxHide.gt-sm>
                    <p class="mb-0 mt-10"><small>Swipe left to scroll</small></p>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-template #noApps>
              <br />
              <br />
              <div fxLayout="row wrap" fxLayoutAlign="center center">
                <mat-icon class="material-icons-outlined mat-48">cloud_circle</mat-icon>
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="center center">
                <h6 class="mb-0" class="text-center mt-15 mb-20">No applications found</h6>
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="center center">
                <a mat-stroked-button [routerLink]="[ '../', 'apply' ]">Create application</a>
              </div>
              <br />
              <br />
            </ng-template>
          </ng-container>


        </mat-card>
      </div>
      <div fxFlex.lt-md="100" fxFlex.gt-sm="calc(33.333% - 7.5px)">

        <mat-card class="mat-elevation-z4 table-container pl-0 pr-0">
          <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="pl-15 pr-15">
            <h6 class="mb-0">Recent uploads</h6>
            <div>
              <a mat-button [routerLink]="[ './', 'items-uploaded' ]" class="mr-05">View all uploads</a>
              <a mat-raised-button color="primary" [routerLink]="[ '../', 'upload' ]">Upload documents</a>
            </div>
          </div>
          <ng-container *ngIf="store.accUploads$.value && store.accUploads$.value.length>0; else noUploads">
            <br />
            <div fxLayout="row wrap" fxLayoutAlign="center start">
              <mat-table [dataSource]="store.uploadsSource" matSort matSortActive="data" matSortDirection="asc" class="scrollbar" fxFlex="100">

                <ng-container matColumnDef="icon">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-table-cell-icon center text-center"> </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="mat-table-cell-icon center text-center">
                    <mat-icon class="material-icons-outlined">cloud_upload</mat-icon>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="cell_40">Name</mat-header-cell>
                  <mat-cell *matCellDef="let row" class="cell_40">
                    {{row.originalName}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="date">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="center text-center"> Date </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="center text-center">{{row.date}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="for">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="center text-center"> Upload to </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="center text-center">{{row.fileForItem}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="action">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="cell_20 center text-center"> </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="cell_20 center text-center">
                    <div fxLayout="row wrap" fxLayoutAlign="center center">
                      <a mat-stroked-button color="primary" [href]="row.downloadURL" rel="noopener">Download</a>
                      <!-- <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="Application menu" [matMenuTriggerData]="{row: row}">
                        <mat-icon>more_vert</mat-icon>
                      </button> -->
                    </div>
                  </mat-cell>
                </ng-container>
                <mat-header-row mat-header-row *matHeaderRowDef="uploadsColumns; sticky: true" class="pb-10"></mat-header-row>
                <mat-row mat-row *matRowDef="let row; columns: uploadsColumns;" class="pv-10"></mat-row>
                <!-- <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></mat-footer-row> -->
              </mat-table>
            </div>

          </ng-container>
          <ng-template #noUploads>
            <br />
            <br />
            <div fxLayout="row wrap" fxLayoutAlign="center center">
              <mat-icon class="material-icons-outlined mat-48">cloud_upload</mat-icon>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="center center">
              <h6 class="mb-0" class="text-center mt-15 mb-20">No uploads found</h6>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="center center">
              <a mat-stroked-button [routerLink]="['../', 'upload' ]">Upload documents</a>
            </div>
            <br />
            <br />
          </ng-template>
        </mat-card>
      </div>
    </div>
  </ng-container>
  <br />
  <br />
  <br />
</div>


<ng-template #showMaintenance>
  <br />
  <br />
  <br />
  <br />
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-icon class="material-icons-outlined mat-36">construction</mat-icon>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <h5 class="text-center mb-05 mt-10">We're in maintenance and updating the stock</h5>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <p class="text-center">Check back later for the updated stock.</p>
  </div>
  <br />
  <br />
  <br />
  <br />
</ng-template>
<ng-template #loading>
  <div fxLayout="row wrap" fxLayoutAlign="center stretch">
    <div class="loading">
      <mat-spinner [diameter]="36" color="primary"></mat-spinner>
    </div>
  </div>
</ng-template>
