.article-header {
  padding-left: 20px;

  .article-header-img-container {
    position: relative;
    overflow: hidden;
    width: 44px;
    height: 44px;

    .article-header-img {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      overflow: hidden;
      border-radius: 50%;
    }
  }

  .article-header-text {
    font-size: .75rem;
  }
}

.article-text-container {
  padding-top: 15px;
  padding-left: 20px;
  height: 220px;
  width: 100%;
}

.article-footer-container {
  padding: 10px;
}

