<div class="hero">
  <div #topOfPage></div>
  <div class="grid-container mt-0 mb-0">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex.xs="100" fxFlex.gt-xs="75" fxFlex.gt-lg="80" class="hero-text-backdrop">
        <div fxLayout="row wrap" fxLayoutAlign="center center" wmAnimate="fadeInUp" speed="faster" aos>
          <!-- <h1 class="text-center">Utah's #1 Mortgage Company</h1> -->
          <h1 class="font-weight-400 text-center">Mortgage Partner + Golf to Give</h1>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center center" wmAnimate="fadeInUp" speed="fast" aos>
          <p class="font-weight-400 text-center mb-0">Enter your information below to enter our giveaway for Golf to Give.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<br />
<div class="grid-container grid-container_xs ph-15 ph-10-sm">
  <mat-card class="mat-elevation-z6 overlay-container">
    <div fxLayout="row wrap" fxLayoutAlign="center center" class="mb-0 ph-15" [@400]="'fadeIn'">
      <app-logo class="header-logo clickable" [routerLink]="[ '../../home' ]" [height]="56"></app-logo>
    </div>
    <br />
      <form #caForm="ngForm" (ngSubmit)="createGiveawayUser()">
        <div fxLayout="row wrap" fxLayoutAlign="center center" wmAnimate="fadeInUp" speed="faster" aos>
          <!-- <h1 class="text-center">Utah's #1 Mortgage Company</h1> -->
          <h5 class="font-weight-400 text-center mb-20">Mortgage Partner Giveaway</h5>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center center" class="mb-0 ph-15" [@400]="'fadeIn'">
          <mat-form-field appearance="outline" fxFlex.xs="100" fxFlex.gt-xs="50" class="ph-05 mat-form-field_sm" [@400]="'fadeIn'">
            <mat-label>First name</mat-label>
            <input matInput tabindex="0" type="text" placeholder="John/Jane" id="legalFName" name="legalFName" #legalFName="ngModel" [(ngModel)]="giveaway.firstName" mapError="firstName" required minlength="1" maxlength="46" autocomplete="given-name"
              pattern="^[^-\s][a-zA-Z_\s-]+$">
            <mat-error *ngIf="legalFName.hasError('maxlength')">Cannot be longer than 46 characters.</mat-error>
            <mat-error *ngIf="legalFName.hasError('required')">First name is required.</mat-error>
            <mat-error *ngIf="legalFName.hasError('server')">{{legalFName.errors['server']}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex.xs="100" fxFlex.gt-xs="50" class="ph-05 mat-form-field_sm full-width" [@400]="'fadeIn'">
            <mat-label>Last name</mat-label>
            <input matInput tabindex="0" type="text" placeholder="Doe" id="legalLName" name="legalLName" #legalLName="ngModel" [(ngModel)]="giveaway.lastName" mapError="lastName" required minlength="1" maxlength="46" autocomplete="family-name"
              pattern="^[^-\s][a-zA-Z_\s-]+$">
            <mat-error *ngIf="legalLName.hasError('maxlength')">Cannot be longer than 46 characters.</mat-error>
            <mat-error *ngIf="legalLName.hasError('required')">Last name is required.</mat-error>
            <mat-error *ngIf="legalLName.hasError('server')">{{legalLName.errors['server']}}</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center center" class="mb-0 ph-15" [@400]="'fadeIn'">
          <mat-form-field appearance="outline" class="ph-05 mat-form-field_sm full-width" [@400]="'fadeIn'">
            <mat-label>Phone number</mat-label>
            <input matInput [textMask]="mask" tabindex="0" type="tel" placeholder="(801) 302-0100" id="phone" name="phone" #phone="ngModel" [(ngModel)]="giveaway.phoneNumber" mapError="phoneNumber" required phone minlength="14" autocomplete="tel">
            <mat-error *ngIf="phone.hasError('required')">Phone number is required.</mat-error>
            <mat-error *ngIf="phone.hasError('maxlength')">Cannot be longer than 16 characters.</mat-error>
            <mat-error *ngIf="phone.hasError('server')">{{phone.errors['server']}}</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center center" class="mb-0 ph-15" [@400]="'fadeIn'">
          <mat-form-field class="ph-05 mat-form-field_sm full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="user@email.com" name="em" id="em" autocomplete="none" maxlength="35" minlength="7" #cemail="ngModel" [(ngModel)]="giveaway.emailAddress" required autocomplete="email">
            <mat-icon matSuffix class="material-icons-outlined">email</mat-icon>
            <mat-error *ngIf="cemail.hasError('minlength')">Email is too short.</mat-error>
            <mat-error *ngIf="cemail.hasError('maxlength')">Email is too long.</mat-error>
            <mat-error *ngIf="cemail.hasError('required')">Email is required.</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center center" class="mb-15 ph-15" [@400]="'fadeIn'">
          <mat-form-field appearance="outline" class="ph-05 mat-form-field_sm mat-form-field_sm-select full-width" [@400]="'fadeIn'">
            <mat-label>Occupation</mat-label>
            <mat-select tabindex="0" id="hearAbout" placeholder="How did you hear about us?" name="hearAbout" required #hAbout="ngModel" [(ngModel)]="giveaway.occupation" ngDefaultControl>
              <mat-option value="Real Estate Agent">Real Estate Agent</mat-option>
              <mat-option value="Loan Officer">Loan Officer</mat-option>
              <mat-option value="Escrow Officer">Escrow Officer</mat-option>
              <mat-option value="Other">Other</mat-option>
            </mat-select>
            <mat-error *ngIf="hAbout.hasError('required')">Occupation is required</mat-error>
            <mat-error *ngIf="hAbout.hasError('server')">{{estCredit.errors['server']}}</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start end">
          <mat-checkbox class="ml-15 mr-15 ph-15" name="acceptTerms" id="acceptTerms" #accTerms="ngModel" color="primary" [(ngModel)]="giveaway.acceptedTerms" required><small>I agree to Mortgage Partner's <a
                href="https://www.mortgagepartner.com/privacy-policy" rel="noopener" target="_blank">Privacy Policy</a> & <a>Terms of Use</a></small>
            <mat-error *ngIf="accTerms.hasError('server')">{{estCredit.errors['server']}}</mat-error>
          </mat-checkbox>
        </div>

        <br />
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <button mat-raised-button color="primary" type="submit" [disabled]="isLoading">Submit</button>
        </div>
        <br />
        <br />
        <div fxLayout="row wrap" fxLayoutAlign.gt-xs="center center">
          <p class="ph-15 mb-05"><small class="text-muted"><mat-icon class="material-icons-outlined mr-05 mat-18 prt-03">lock_outline</mat-icon>Your information is secure and never sold.</small></p>
        </div>
      </form>
      <div #completedForm></div>
      <ng-container *ngIf="animate">
      
      <div class="overlay white-95" [ngClass]="{'show':animate}">
        <div fxFlex>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
        <div class="overlay-icon overlay-success animate">
          <span class="overlay-line overlay-tip animateSuccessTip"></span>
          <span class="overlay-line overlay-long animateSuccessLong"></span>
          <div class="overlay-fix"></div>
        </div>
      </div>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
        <h3 class="mt-15">You're In!</h3>
      </div>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
        <p class="maxw-315 ph-05-sm text-center mb-30"><small>We will be randomly choosing the winner tomorrow. Make sure to check your email or watch for a phone call from us.</small>
        </p>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <a mat-raised-button color="primary" [routerLink]="[ '../../home' ]">Explore Mortgage Partner</a>
    </div>
      </div>
      </div></ng-container>
  </mat-card>
  <br />
</div>

<div class="light-bg">
  <div class="grid-container">
    <!-- Subsection 5: Stand Out -->
    <br />
    <br />
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <h3 class="mb-05 font-weight-400 text-center">Who We Work With</h3>
    </div>
    <br />
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <p class="font-weight-400 text-center" fxFlex.xs="100" fxFlex.gt-xs="80" fxFlex.gt-md="50">We work with everyone. No matter the credit score, income, loan amount, etc. we are happy to work with your clients.</p>
    </div>
    <br />
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="7.5px">
      <div wmAnimate="fadeInUp" speed="fast" aos>
        <chat-button matType="raised" matColor="accent" buttonText="Let's talk!"></chat-button>
        <!-- <a mat-raised-button style="font-size: 16px;" color="accent" href="tel:8013020100">Talk to a loan officer</a> -->
      </div>
    </div>
    <br />
    <br />
  </div>
</div>
<div class="social-standout">
  <div class="grid-container">
    <div fxLayout="row wrap" fxLayoutAlign="center center" class="mt-15">
      <mat-divider fxFlex="50"></mat-divider>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div fxLayout="row wrap" fxLayoutAlign="center center" class="mt-15">
      <h2 class="mb-05 font-weight-400">Social Media</h2>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" class="mt-15">
      <p>Connect with us on social media.</p>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="center center" class="mt-15">

      <a mat-icon-button color="white" class="btn-social" target="_blank" href="https://www.facebook.com/TheMortgagePartner/?fref=ts" rel="noopener"><img src="../../../assets/images/facebook.svg" class="mat-icon-button-social" /></a>
      <a mat-icon-button color="white" class="btn-social" target="_blank" href="https://twitter.com/MortgagePart" rel="noopener"><img src="../../../assets/images/twitter.svg" class="mat-icon-button-social" /></a>
      <a mat-icon-button color="white" class="btn-social" target="_blank" href="https://www.linkedin.com/company/the-mortgage-partner-inc-/about/" rel="noopener"><img src="../../../assets/images/linkedin.svg" class="mat-icon-button-social" /></a>

    </div>
    <br />
    <br />
    <br />
  </div>
</div>
