.status-card {
  padding: 7px 10px;
  border-radius: 4px;
  width: fit-content;
  background: #fff;

  h2,
  h4,
  h5,
  p {
    color: currentColor;
  }
}

.fixed {
  // transition: all 0.25s ease-in-out;

  @media screen and (min-width: 1023px) {
    position: fixed;
    top: 115px;
    width: 330px;
  }
}

// .mat-row {
//   &.mat-success {
//     border-left: 2px solid #228264;
//   }

//   &.Started {
//     border-left: 2px solid #FFB38B;
//   }

//   &.In.Underwriting {
//     border-left: 2px solid #FF5B4A;
//   }

//   &.Items.Needed {
//     border-left: 2px solid #7FC7AF;
//   }

//   &.Ready.To.Close {
//     border-left: 2px solid#3FB8AF;
//   }

//   &.Disabled,
//   &.Archived {
//     border-left: 2px solid #a1a2a6;
//   }

//   &.Funded {
//     border-left: 2px solid #DAD8A7;
//   }
// }
