@import '../../../assets/variables';

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  box-shadow: none;
  transition: all 0.25s ease-in-out;



  .header-top {
    // height: 45px;
    width: 100%;
    min-width: 100%;
    padding-top: 5px;
    z-index: 1;
    background-color: $white;
  }

  .header {
    // top: 45px;
    // height: 60px;
    width: 100%;
    min-width: 100%;
    padding: 0px 15px;
    z-index: 1;
    background-color: $white;

    @media screen and (max-width: 599px) {
      padding: 2.5px 15px;
    }

    .header-logo {
      height: 57px;
      width: auto;
      margin: 0 auto;
      padding-bottom: 5px;

      @media screen and (max-width: 599px) {
        margin: 0 5px;
        height: 64px;
        padding-top: 2px;
        padding-bottom: 2px;
      }
    }

    .header-btn {
      position: relative;
      color: $text-color;
      display: inline-flex;
      min-width: 30px;
      padding-top: 2px;
      padding-left: 15px;
      padding-right: 15px;
      height: 100%;
      text-align: center;
      justify-content: center;
      align-items: center;
      text-decoration: none;

      &:after {
        position: absolute;
        display: block;
        content: '';
        bottom: 0px;
        width: 100%;
        border-bottom: 3px solid $mp-light-red;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
      }

      &:hover:after,
      &:focus:after {
        transform: scaleX(1);
      }


      &.active {

        &:after {
          transform: scaleX(1);
        }
      }
    }
  }

  &.header-elevated {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}
}

.account-drop-button {
  position: absolute;
  bottom: 0;
  left: 0;
}
