@import '../../../assets/variables';

.image-standout {
  position: relative;
  width: 100%;
  padding: 120px 0;
  // max-height: 50vh;   
  // max-height: 75vh;
  background-image: linear-gradient(rgba(38, 38, 40, 0.68) 0%, rgba(38, 38, 40, 0.68) 100%), url(/assets/images/utah-mortgage-rates.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 53%;

  @media screen and (max-width: 991px) {
    padding: 80px 0;
  }

  @media screen and (max-width: 599px) {
    padding: 80px 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  .material-icons {
    color: $white;
  }
}

.disclosure-text {
  font-size: 11px;
  line-height: 16px;
}

.payment-text {
 font-size: 3rem;
  // color: #228264;
  font-weight: 600;
}
