@import '../../../assets/variables';

.my-drop-zone {
  border: dotted 3px lighten($text-color, 25%);
  text-align: center;
  border-radius: 8px;
  color: lighten($text-color, 5%);

  &:hover,
  &:focus {
    cursor: pointer;
    color: $text-color;
    background: rgba(0, 0, 0, .02);
    border: dotted 3px $text-color;
  }

  label {
    padding: 75px 150px;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

.nv-file-over {
  color: $text-color;
  border: dotted 3px $text-color;
  background: rgba(2, 77, 118, .08);
}

/* Default class applied to drop zones on over */
.another-file-over-class {
  border: dotted 3px green;
}

.table-header {
  color: rgba(0, 0, 0, 0.72);
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 0.875rem;
  font-weight: 500;
}

.complete {
  background: rgba(34, 130, 100, .03) !important;

  * {
    color: #175b46;
  }
}
