<div class="light-bg">
  <div class="grid-container">
    <!-- Subsection 5: Stand Out -->
    <br />
    <br />
    <br />
    <br />
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <h1 class="mb-05 font-weight-400 text-center mb-15">Utah Mortgage Loan Limits</h1>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <p class="font-weight-400 text-center">Conventional and FHA loan limits in Utah by county.</p>
    </div>
    <br />
    <br />
    <br />
  </div>
</div>
<div class="articles-standout-container">
  <div class="grid-container">
    <br />
    <!-- <br />
    <br />
    <div fxLayout="row wrap" fxLayoutAlign="start center">
      <h2 class="font-weight-400">Featured articles</h2>
    </div> -->
    
    <div fxLayout="row wrap" fxLayoutAlign="end center">
      <mat-form-field appearance="outline" fxFlex.xs="100" fxFlex.gt-xs="35" class="ph-05 mat-form-field_sm">
        <mat-label>Search counties</mat-label>
        <mat-icon matSuffix class="clickable" (click)="resetFilter()">{{filter.length >0 ? "cancel" : "search"}}</mat-icon>
        <input matInput tabindex="0" type="text" placeholder="Salt Lake County, Utah County, etc." id="countiesSearch" name="countiesSearch" (keyup)="applyFilter($event.target.value)" [(ngModel)]="filter" #countySearch="ngModel" maxlength="250">
        <mat-error *ngIf="countySearch.hasError('maxlength')">Cannot be longer than 250 characters.</mat-error>
        <mat-error *ngIf="countySearch.hasError('server')">{{countySearch.errors['server']}}</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="start center">
      <!-- <div fxFlex.xs="100" fxFlex.gt-xs="50" fxFlex.gt-md="33.333"> -->
      <div fxFlex="100">
        <mat-card class="flat ml-05 mr-05 mt-05 mb-05 p-0" [@400]="'fadeIn'">
          <mat-table [dataSource]="dataSource" matSort matSortActive="county" matSortDirection="asc" class="scrollbar">

            <ng-container matColumnDef="county">
              <mat-header-cell *matHeaderCellDef mat-sort-header> County
              </mat-header-cell>
              <mat-cell *matCellDef="let row" class="pr-10">
                <div fxFlex class="ph-20">
                  <div fxLayout="row wrap" fxLayoutAlign="start center">
                    <span [ngClass]="row.quality">{{row.county | titlecase}}</span>
                  </div>
                </div>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="conventional">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="center text-center ph-20">Conventional
              </mat-header-cell>
              <mat-cell *matCellDef="let row" class="center">
                {{row.convAmount | currency:'USD':'symbol-narrow':'4.0-0'}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="fha">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="center text-center ph-20">FHA
              </mat-header-cell>
              <mat-cell *matCellDef="let row" class="center">
                {{row.fhaAmount | currency:'USD':'symbol-narrow':'4.0-0'}}
              </mat-cell>
            </ng-container>
            <mat-header-row mat-header-row *matHeaderRowDef="limitsColumns; sticky: true"></mat-header-row>
            <mat-row mat-row *matRowDef="let row; columns: limitsColumns;"></mat-row>
            <!-- <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></mat-footer-row> -->
          </mat-table>
        </mat-card>
      </div>

    </div>
  </div>
</div>
