@import '../../../../assets/variables';

.partner {

  .partner-standout-image {
    height: auto;
    width: 240px;
    max-height: 320px;
    max-width: 50vw;
    margin: 15px;
    border-radius: 8px;

    &.square {
      width: 320px;
      max-height: initial;
    }

  }

  h1 {
    font-size: 2rem;
  }
}


.g-maps-screenshot {
  position: relative;
  width: 100%;
  height: 450px;
  // max-height: 50vh;   
  // max-height: 75vh;
  background-image: url(/assets/images/g-maps-screenshot.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 47%;
}


.image-standout {
  position: relative;
  width: 100%;
  padding: 80px 0;
  // max-height: 50vh;   
  // max-height: 75vh;
  background-image: linear-gradient(rgba(38, 38, 40, 0.72) 0%, rgba(38, 38, 40, 0.72) 100%), url(/assets/images/article-images/white-gold-interior.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 62%;

  @media screen and (max-width: 991px) {
    padding: 80px 0;
  }

  @media screen and (max-width: 599px) {
    padding: 80px 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  .material-icons {
    color: $white;
  }

  .material-icons {
    padding: 14px;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 8px;
    height: 50px;
    width: 50px;
  }
}

.testimonials {
  // background: #f5f7fa;
  min-height: 420px;

  @media screen and (max-width: 991px) {
    min-height: 600px;
  }

  .testimonial-quote {
    text-indent: 50px;
  }
}


blockquote {
  font-weight: 100;
  font-size: 1rem;
  line-height: 2rem;
  position: relative;
  margin: 0;
  padding: .5rem;
}

blockquote:before,
blockquote:after {
  font-family: 'Special Elite', cursive;
  position: relative;
  color: #a1a2a6;
  font-size: 2rem;
  padding: 5px;
  width: auto;
}

blockquote:before {
  content: '“';
  left: 0rem;
  top: 0;
}

blockquote:after {
  content: '”';
  right: 0rem;
  bottom: 0;
}

cite {
  line-height: 3;
  text-align: left;
}

.animated {
  visibility: visible !important;
}

.hide-on-init {
  visibility: hidden;
}
