<div class="light-bg partner">
  <div #topOfPage></div>
  <div class="grid-container">
    <!-- Subsection 5: Stand Out -->
    <br />
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <img src="../../../../assets/images/partners/ashlee-strong.jpg" class="partner-standout-image mat-elevation-z05 square" alt="Ashlee Strong part of The Topaz Team and is a licensed Real Estate Agent for the state of Utah." />
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <h1 class="mb-05 font-weight-400 text-center">Ashlee Strong</h1>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <p class="font-weight-400 ph-10-sm text-center">Real Estate Agent at The Topaz Team</p>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" class="ph-10-sm mb-10">
      <a mat-raised-button href="tel:8019719109" class="text-primary ml-15 font-weight-400 mt-15">
        <mat-icon class="material-icons-outlined mat-18 mr-05">phone</mat-icon> 801-971-9109
      </a>
      <ng-container *ngIf="!auth.isLoggedIn; else showContactEmail">
        <button mat-raised-button matTooltip="Must be logged in to see email" [matTooltipPosition]="above" class="text-primary ml-15 font-weight-400 mt-15">
          <mat-icon class="material-icons-outlined mat-18 mr-05">email</mat-icon> ******@gmail.com
        </button>
      </ng-container>
      <ng-template #showContactEmail>
        <a mat-raised-button href="mailto:ashleestrongre@gmail.com" class="text-primary ml-15 font-weight-400 mt-10" rel="noopener">
          <mat-icon class="material-icons-outlined mat-18 mr-05">email</mat-icon> ashleestrongre@gmail.com
        </a>
      </ng-template>
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <a mat-raised-button class="text-primary font-weight-400 ml-15 mt-15" target="_blank" rel="noopener"
          href="https://www.google.com/maps/place/324+S+400+W+%23100,+Salt+Lake+City,+UT+84101/@40.7620093,-111.9051227,17z/data=!3m1!4b1!4m5!3m4!1s0x8752f502c3c2297f:0xb7a6ce39db07f227!8m2!3d40.7620093!4d-111.9029287">
          <mat-icon class="material-icons-outlined mat-18 mr-05 prt--02">place</mat-icon> 324 S 400 W Ste. 100, Salt Lake City, UT
        </a>
      </div>
    </div>
    <br />
  </div>
</div>
<div class="grid-container ph-15 ph-10-sm">
  <!-- Subsection 5: Stand Out -->
  <br fxHide.lt-md fxShow.gt-sm />
  <br fxHide.lt-md fxShow.gt-sm />
  <br />
  <div fxLayout="row wrap" fxLayoutAlign="center start">
    <h2 class="mb-15 font-weight-400 text-center">Why we trust Ashlee</h2>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center start">
    <mat-divider fxFlex="60"></mat-divider>
  </div>
  <br />
  <br />
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <p class="ph-10-sm">Ashlee has been in real estate since 2015&mdash;licensed in all of Utah&mdash;and has a deep love for people and real estate. Ashlee is great to work with and is as honest as they come. Finding a home can be an overwhelming
      process, Ashlee will find your perfect starter home, forever home, or investment property. </p>
  </div>

  <br />
  <br />
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="7.5px">
    <div>
      <!-- <chat-button matType="raised" matColor="accent" buttonText="Chat with us"></chat-button> -->
      <a mat-raised-button style="font-size: 16px;" color="accent" href="tel:8013020100">Give us a call</a>
    </div>
    <div>
      <a mat-button rel="noopener" class="with-border" [routerLink]="['../../', 'apply' ]">Apply online</a>
    </div>
  </div>

  <br />
  <br />
  <div fxLayout="row wrap" fxLayoutAlign="center center" class="mt-30">
    <mat-divider fxFlex="50"></mat-divider>
  </div>
  <!-- Testimonials section -->
  <div class="testimonials">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div class="grid-container pv-0 mb-0">
        <br />
        <!-- <div fxLayout="row" fxLayoutAlign="center center">
          <h2 class="mb-05 font-weight-400 text-center">Client Testimonials</h2>
        </div> -->
        <br />
        <br />
        <br />
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <div fxFlex.lt-md="100" fxFlex.gt-sm="calc(100% - 100px)" fxFlexOrder.lt-md="1" fxFlexOrder.gt-sm="2">
            <!-- Testimonials -->
            <div fxLayout="row" fxLayoutAlign="center center">
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
            </div>
            <ng-container *ngFor="let testimonial of testimonials; let i = index">
              <ng-container *ngIf="i === showTestimonialIndex">

                <div wmAnimate="slideInRight" speed="fast" aos>
                  <br />
                  <blockquote>{{testimonial.quote}}</blockquote>
                  <cite>{{testimonial.name}}</cite>
                </div>
              </ng-container>
            </ng-container>
          </div>
          <div fxFlex.lt-md="50" fxFlex.gt-sm="40px" fxFlexOrder.lt-md="2" fxFlexOrder.gt-sm="1">
            <div fxLayout="row wrap" fxLayoutAlign="center center">
              <button mat-icon-button style="position: relative; overflow: hidden;" (click)="prevTestimonial()">
                <mat-icon class="material-icons-outlined text-muted">chevron_left</mat-icon>
              </button>
            </div>
          </div>
          <div fxFlex.lt-md="50" fxFlex.gt-sm="40px" fxFlexOrder="3">
            <div fxLayout="row wrap" fxLayoutAlign="center center">
              <button mat-icon-button style="position: relative; overflow: hidden;" (click)="nextTestimonial()">
                <mat-icon class="material-icons-outlined text-muted">chevron_right</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="image-standout">
  <div class="grid-container">
    <!-- Subsection 5: Stand Out -->
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <h2 class="mb-05 font-weight-400 text-center">Ashlee's Listings</h2>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <p class="font-weight-400 text-center">Ashlee is able to look beyond her listings and search for your home throughout the state of Utah.</p>
    </div>
    <br />
    <div fxLayout="row wrap" fxLayoutAlign="center center">

      <div wmAnimate="fadeInUp" speed="fast" aos>
        <a mat-button color="white" class="with-border mt-05" rel="noopener" href="https://www.blackwellrealtygroup.com/ashlee-strong-realtor/" target="_blank">View Ashlee's Listings</a>
      </div>
    </div>
  </div>
</div>
<div class="social-standout">
  <div class="grid-container">
    <br />
    <br />
    <br />
    <br />
    <div fxLayout="row wrap" fxLayoutAlign="center center" class="mt-15">
      <h2 class="mb-05 font-weight-400">Social Media</h2>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" class="mt-15">
      <p>Connect with us on social media.</p>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="center center" class="mt-15">

      <a mat-icon-button color="white" class="btn-social" target="_blank" href="https://www.facebook.com/TheMortgagePartner/?fref=ts" rel="noopener"><img src="../../../assets/images/facebook.svg" class="mat-icon-button-social" /></a>
      <a mat-icon-button color="white" class="btn-social" target="_blank" href="https://twitter.com/MortgagePart" rel="noopener"><img src="../../../assets/images/twitter.svg" class="mat-icon-button-social" /></a>
      <a mat-icon-button color="white" class="btn-social" target="_blank" href="https://www.linkedin.com/company/the-mortgage-partner-inc-/about/" rel="noopener"><img src="../../../assets/images/linkedin.svg" class="mat-icon-button-social" /></a>

    </div>
    <br />
    <br />
    <br />
  </div>
</div>
