<div class="image-standout">
    <div class="grid-container">
      <!-- Subsection 5: Stand Out -->
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <h1 class="mb-05 font-weight-400 text-center">Mortgage Partner Tools</h1>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <p class="font-weight-400">Helping you understand the mortgage loan process.</p>
      </div>
    </div>
  </div>
