<div class="light-bg">
  <div class="grid-container">
    <br />
    <br />
    <br />
    <br />
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <h1 class="mb-05 font-weight-400 text-center">Account Settings</h1>
    </div>
    <br />
    <br />
    <br />
  </div>
</div>