.articles-standout-container {
  padding-bottom: 150px;

  .article {
    height: 350px;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;

    @media screen and (max-width: 959px) {
      height: 100%;
    }

    .mat-chip {
      color: #43454e;
    }

    &:hover {
      .article-text-container {
        h3 {
          //   font-weight: 500;
          color: #000;
        }
      }

      .mat-chip {
        color: #000;
        background-color: #e0e1e2 !important;
        border: 2px solid #e0e1e2;
      }
    }

    .article-header {
      padding-left: 20px;

      .article-header-img-container {
        position: relative;
        overflow: hidden;
        width: 44px;
        height: 44px;

        .article-header-img {
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 50%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          margin: 0;
          overflow: hidden;
          border-radius: 50%;
        }
      }

      .article-header-text {
        font-size: .75rem;
      }
    }

    .article-text-container {
      padding-top: 15px;
      padding-left: 20px;
      padding-bottom: 15px;
      height: 225px;
      width: 100%;
    }

    .article-footer-container {
      padding: 10px;
    }
  }

  .article-img-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 350px;

    @media screen and (max-width: 959px) {
      height: 175px;
    }

    img {

      &.article-img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        overflow: hidden;
        border-radius: 0;
      }
    }
  }
}
