@import '../../../assets/variables';
@import url('https://fonts.googleapis.com/css?family=Special+Elite');


// Hero
.hero {
  background-image: linear-gradient(rgba(38, 38, 40, 0.70) 0%, rgba(38, 38, 40, 0.70) 100%), url(/assets/images/utah-mortgage-loans-with-best-rates.jpg);
}

.illustrations {

  .illustration {

    @media screen and (max-width: 991px) {
      margin-bottom: 50px;
      max-height: 350px;
    }
  }
}


.image-standout {
  position: relative;
  width: 100%;
  padding: 120px 0;
  // max-height: 50vh;   
  min-height: 35vh;
  // max-height: 75vh;
  background-image: linear-gradient(rgba(38, 38, 40, 0.72) 0%, rgba(38, 38, 40, 0.72) 100%), url(/assets/images/utah-mortgage-company.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 50%;

  @media screen and (max-width: 991px) {
    padding: 80px 0;
  }

  @media screen and (max-width: 599px) {
    padding: 80px 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  .material-icons {
    color: $white;
  }

  .material-icons {
    padding: 14px;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 8px;
    height: 50px;
    width: 50px;
  }
}

.testimonials {
  background: #f5f7fa;
  min-height: 580px;

  @media screen and (max-width: 991px) {
    min-height: 600px;
  }

  .testimonial-quote {
    text-indent: 50px;
  }

  .equal-housing-icon {
    height: 40px;
    width: auto;
    fill: #636363;
  }
}


blockquote {
  font-weight: 100;
  font-size: 1rem;
  line-height: 2rem;
  position: relative;
  margin: 0;
  padding: .5rem;
}

blockquote:before,
blockquote:after {
  font-family: 'Special Elite', cursive;
  position: relative;
  color: #a1a2a6;
  font-size: 2rem;
  padding: 5px;
  width: auto;
}

blockquote:before {
  content: '“';
  left: 0rem;
  top: 0;
}

blockquote:after {
  content: '”';
  right: 0rem;
  bottom: 0;
}

cite {
  line-height: 3;
  text-align: left;
}

.animated {
  visibility: visible !important;
}

.hide-on-init {
  visibility: hidden;
}
