<div class="light-bg">
  <div class="grid-container">
    <br />
    <br />
    <br />
    <br />
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <h1 class="mb-05 font-weight-400 text-center">Mortgage Partner Rate Assumptions</h1>
    </div>
    <br />
    <br />
    <br />
  </div>
</div>
<div class="grid-container">

  <h3 class="heading-padding-bottom">
    General
  </h3>

  We will always work to keep our rates current and up-to-date here on MortgagePartner.com. The
  following are details of our rate assumptions:
  <ul class="list-start-padding">
    <li>
      Rates are subject to change without notice.
    </li>
    <li>
      Restrictions may apply. Contact us for details.
    </li>
    <li>
      Fees and charges apply.
    </li>
    <li>
      Rates shown assume a purchase transaction.
    </li>
    <li>
      Mortgage insurance is not included in the payment quoted. Mortgage insurance will be
      required for all FHA and USDA loans as well as conventional loans where the loan to value
      is greater than 80%.
    </li>
    <li>
      Subject to underwriter approval; all applicants may not be approved.
    </li>
    <li>
      Closing Costs assume that borrower will escrow monthly property tax and insurance payments.
    </li>
    <li>
      Rates may be higher for loan amounts under $150,000 and over $417,000. Please call for
      details.
    </li>
    <li>
      Annual Percentage Rate (APR) calculations assume a purchase transaction of a single-family,
      detached, owner-occupied primary residence; a loan-to-value ratio of less than 75%; a
      minimum FICO score of 740; a Loan Term of 360 months; and a loan amount of $200,000 for
      conforming loans.
    </li>
    <li>
      The Mortgage Partner is an Equal Opportunity Lender.
    </li>
  </ul>


  <div class="intro-heading heading-padding-top page-padding-bottom-content">
    <h3 class="heading-padding-bottom">
      Security and More Information
    </h3>
    <div class="intro-lead-in">

      <p>For information on our privacy policy on our website, visit the <a href="privacypolicy.html">Privacy
          Policy</a> page.</p>
      <br />
      <p>For information on quotes, rates, terms, and other financial information on our website,
        visit the <a href="disclosures.html">Disclosures</a> page.</p>
      <br />
      <p>
        For more information please <a href="contact.html">Contact Us</a>.
      </p>
      <br />
      <p>
        Updated: May 31, 2016
      </p>
    </div>
  </div>
</div>
