@import '../assets/variables';

.navigation-drawer {
  z-index: 200;
}

.app-contents {
  padding-top: 107px;

  @media screen and (max-width: 599px) {
    padding-top: 57px;
  }
}

.scroller {
  position: fixed;
  bottom: 15px;
  right: 75px;
  z-index: 2147483639;
}
