@import '../../../assets/variables';

.image-standout {
  position: relative;
  width: 100%;
  padding: 120px 0;
  // max-height: 50vh;   
  // max-height: 75vh;
  background-image: linear-gradient(rgba(38, 38, 40, 0.68) 0%, rgba(38, 38, 40, 0.68 ) 100%), url(/assets/images/bookshelf.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 47%;

  @media screen and (max-width: 991px) {
    padding: 80px 0;
  }

  @media screen and (max-width: 599px) {
    padding: 80px 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  .material-icons {
    color: $white;
  }

  .material-icons {
    padding: 14px;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 8px;
    height: 50px;
    width: 50px;
  }
}

.g-maps-screenshot {
  position: relative;
  width: 100%;
  height: 450px;
  // max-height: 50vh;   
  // max-height: 75vh;
  background-image: url(/assets/images/g-maps-screenshot.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 47%;


}