@import "../../../assets/variables";

.footer-section {
  background: transparent;
  // padding-top: 80px;
  padding-bottom: 15px;

  h5,
  p {
    color: $text-color;
  }


  .footer-btn {
    position: relative;
    margin-bottom: 15px;
    color: $text-color;
    display: inline-flex;
    min-width: 30px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &:after {
      position: absolute;
      display: block;
      content: '';
      bottom: -6px;
      width: 75%;
      border-bottom: 2px solid $mp-light-red;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
    }

    &:hover:after,
    &:focus:after {
      transform: scaleX(1);
    }


    &.active {

      &:after {
        transform: scaleX(1);
      }
    }
  }

  .footer-ehl {
    height: 75px;
    width: auto;
    margin: 5px;
  }
}
