@import '../../../../assets/variables';

.my-drop-zone {
  //   border: dotted 3px #43454e;
  text-align: center;
  border-radius: 8px;
  color: #28292e;
  margin: 16px;
  width: 100%;
  background: #ececed;


  &:hover,
  &:focus {
    color: #000;
    background: darken(#ececed, 2%);
    // border: dotted 3px $text-color;

    * {
      color: #000;
    }
  }

  label {
    padding: 75px 0;
    width: 100%;
    height: 100%;
    cursor: pointer;

  }

  &.mini {
    label {
      padding: 5px;
    }
  }
}

.nv-file-over {
  color: $text-color;
  border: dotted 3px $text-color;
  background: rgba(2, 77, 118, .08);
}

/* Default class applied to drop zones on over */
.another-file-over-class {
  border: dotted 3px green;
}

.table-header {
  color: rgba(0, 0, 0, 0.72);
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 0.875rem;
  font-weight: 500;
}

.complete {
  background: rgba(34, 130, 100, .03) !important;

  * {
    color: #175b46;
  }
}

.status_highlight {
  text-transform: capitalize;
  border-radius: 20px;
  display: inline-block;
  font-weight: 600;
  padding: 4px 12px;
  font-size: 0.813rem;

  &.Most.Recent,
  &.Received,
  &.Needed {
    background: #cdddf6;
    color: #0A1B36;
    // background: #f5f7fa;
    // color: #18212F;
  }

  &.Cleared {
    background: #c1dbb3;
    color: #192712;
  }

  &.Rejected {
    background: $Rejected;
    color: #281210 !important;
  }
}
