<div class="light-bg">
  <div class="grid-container">
    <br />
    <br />
    <br />
    <br />
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <h1 class="mb-05 font-weight-400 text-center">Items Needed</h1>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <p class="font-weight-400 text-center">Speed up your mortgage loan with uploading items we need.</p>
    </div>
    <br />
    <br />
    <br />
  </div>
</div>
<div class="grid-container grid-container_lg">

  <div #topOfPage></div>
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <div fxFlex="1 1 100">
      <mat-card class="no-float" [@400]="'fadeIn'" class="table-container mat-elevation-z6 pl-0 pr-0">
        <!-- <br /> -->
        <!-- <br />
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <h3>Items Needed</h3>
        </div>
        <br />
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <p class="ph-20">Below is a list of items that we need to complete your mortgage loan(s). Upload documents below to speed up the mortgage process. If you need help, contact us at <a mat-link href="mailto:tyler@mortgagepartner.com"
              class="text-primary" rel="noopener">tyler@mortgagepartner.com</a>
          </p>
        </div>
        <br /> -->
        <div fxLayout="row wrap" fxLayoutAlign="end center" class="ph-20 pb-10">
          <ng-container *ngIf="uploader?.queue?.length > 0 && queuedItems.length > 0">
            <h5 class="mb-05" [@400]="'fadeIn'">
              <mat-icon class="material-icons-outlined mr-05 prt-05">folder</mat-icon>{{ uploader?.queue?.length>1 ? uploader?.queue?.length + ' files' : uploader?.queue?.length + ' file' }} attached
            </h5>
            <button mat-raised-button type="submit" class="mr-05 ml-15" color="primary" (click)="uploadDocs()" [@400]="'fadeIn'">
              <mat-icon class="material-icons-outlined mat-18 prt--02">file_upload</mat-icon>&nbsp; Upload {{ uploader?.queue?.length>1 ? 'files' : 'file' }}
            </button>
            <button mat-button type="button" (click)="uploader.clearQueue()" class="mr-05">
              <mat-icon class="material-icons-outlined mat-18 prt--02">cancel</mat-icon>&nbsp; Clear pending
            </button>
          </ng-container>
          <button mat-button type="button" (click)="downloadAllFiles()" *ngIf="store.canDownloadAll && !store.isLoadingItemsNeeded" class="mr-05">
            <mat-icon class="material-icons-outlined mat-18 prt--02">file_download</mat-icon>&nbsp; Download attachments
          </button>
          <button mat-button type="button" (click)="store.getItemsNeeded()" [disabled]="store.isLoadingItemsNeeded">
            <mat-icon class="material-icons-outlined mat-18 prt--02">refresh</mat-icon>&nbsp; Refresh<mat-spinner [diameter]="24" color="primary" *ngIf="store.isLoadingItemsNeeded"></mat-spinner>
          </button>
          <help-button matTooltipText="Click for items needed help" matTooltipPosition="after" helpText="Need help with items needed?" buttonText="Get help with Items Needed" matType="stroked"></help-button>
        </div>
        <!-- <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="p-20">
          <button mat-raised-button type="button" (click)="startNewApp()" color="primary">Create application</button>
          <button mat-stroked-button type="button" (click)="store.getApplications()">Refresh</button>
        </div> -->
        <ng-container *ngIf="!store.isLoadingItemsNeeded; else loading">
          <ng-container *ngIf="store.itemsNeededSource?.filteredData.length>0; else noItems">
            <br />
            <br />
            <div fxLayout="row wrap" fxLayoutAlign="center start">
              <mat-table #table [dataSource]="store.itemsNeededSource" multiTemplateDataRows matSort matSortActive="status" matSortDirection="asc" class="scrollbar" fxFlex="100">

                <ng-container matColumnDef="icon">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-table-cell-icon center text-center"> </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="mat-table-cell-icon center text-center">
                    <ng-container *ngIf="row.status != 'Received' && row.status != 'Rejected' && row.status != 'Cleared'; else iconStatus">
                      <!-- <mat-checkbox [(ngModel)]="row.isQueued" (ngModelChange)="queueItemUpdate(row)" [disabled]="row.status === 'Cleared'"></mat-checkbox> -->
                      <mat-icon class="material-icons-outlined" matTooltip="Looks like we still need {{row.title | titlecase}}" matTooltipPosition="above">priority_high</mat-icon>
                    </ng-container>
                    <ng-template #iconStatus>
                      <mat-icon class="material-icons-outlined">{{row.status === 'Rejected' ? 'report_problem' : 'cloud_done'}}</mat-icon>
                    </ng-template>


                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="item">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="cell_50">Item</mat-header-cell>
                  <mat-cell *matCellDef="let row" class="cell_50">
                    <div fxFlex="100">
                      <div fxLayout="row wrap" fxLayoutAlign="start start">
                        <strong class="dark-accent">{{row.title}}</strong>
                      </div>
                      <ng-container *ngIf="row?.note">
                        <div fxLayout="row wrap" fxLayoutAlign="start start" class="mt-10">
                          <span class="pr-15">
                            <!-- <mat-icon class="material-icons-outlined mat-16 prt-03 mr-10">priority_high</mat-icon> -->
                            {{row.note}}
                          </span>
                        </div>
                      </ng-container>
                    </div>
                  </mat-cell>
                </ng-container>
                <!-- <ng-container matColumnDef="borrower">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="pr-10 pl-10 cell_20">Borrower</mat-header-cell>
                  <mat-cell *matCellDef="let row" class="pr-10 pl-10 cell_20">
                    {{row.borrower | titlecase}} <ng-container *ngIf="row.coBorrower">& {{row.coBorrower | titlecase}}</ng-container>
                  </mat-cell>
                </ng-container> -->
                <ng-container matColumnDef="status">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="pr-10 pl-10 cell_15 center text-center">Status</mat-header-cell>
                  <mat-cell *matCellDef="let row" class="pr-10 pl-10 cell_15">
                    <div fxFlex="100">
                      <div fxLayout="row wrap" fxLayoutAlign="center center">
                        <span class="status_highlight" [ngClass]="row.status">
                          {{row.status}}
                        </span>
                      </div>
                      <ng-container *ngIf="row.status === 'Rejected'">
                        <div fxLayout="row wrap" fxLayoutAlign="center center" class="mt-10">
                          <p class="mb-0"><small>Try uploading again</small></p>
                        </div>
                      </ng-container>
                    </div>
                  </mat-cell>
                </ng-container>
                <!-- <ng-container matColumnDef="requestedDate">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="center text-center"> Requested
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="pr-10 center text-center">
                    {{row.requestedDate}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="dueDate">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="cell_10 center text-center"> Due </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="cell_10 center text-center">{{row.dueDate}}
                  </mat-cell>
                </ng-container> -->
                <ng-container matColumnDef="priorTo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="cell_20 center text-center"> Prior To </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="cell_20 center text-center">{{row.priorTo}}
                  </mat-cell>
                </ng-container>
                <!-- <ng-container matColumnDef="priority">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="cell_10 center text-center"> Priority </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="cell_10 center text-center">{{row.priority}}
                  </mat-cell>
                </ng-container> -->
                <!-- <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="cell_10 center text-center"> Loan # </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="cell_10 center">{{row.loanID}}
                  </mat-cell>
                </ng-container> -->
                <ng-container matColumnDef="action">
                  <mat-cell *matCellDef="let row" class="mat-table-cell-icon">
                    <div fxFlex="100">
                      <div fxLayout="row wrap" fxLayoutAlign="center start">
                        <button mat-raised-button type="button" color="primary" (click)="queueItemUpdate(row); file.click();" [disabled]="row.status === 'Cleared'">{{row.status === 'Rejected' ? 'Reattach' : 'Attach'}}</button>
                        <!-- <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="Application menu" [matMenuTriggerData]="{row: row}">
                      <mat-icon>more_vert</mat-icon>
                    </button> -->
                      </div>
                    </div>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="dragAndDrop">
                  <mat-cell *matCellDef="let row" class="cell_60">
                    <div fxFlex="100">
                      <div [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event);queueItemUpdate(row)" ng2FileDrop [uploader]="uploader" class="well my-drop-zone clickable mini">
                        <label for="file-upload">
                          <div fxLayout="row wrap" fxLayoutAlign="center center">
                            <mat-icon class="material-icons-outlined mat-18">upload_file</mat-icon>&nbsp; &nbsp;
                            <p class="mb-0">Drag and drop your files here or click to browse your system</p>
                          </div>
                          <div fxLayout="row wrap" fxLayoutAlign="center center">
                            <input type="file" id="file-upload" #file ng2FileSelect [uploader]="uploader" (onFileSelected)="onFileSelected($event)" accept=".pdf, .png, .jpg" multiple style="display: none;" hidden />
                          </div>
                        </label>
                        <br />
                      </div>
                    </div>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="clearAll">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-table-cell-icon center text-center"> </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="mat-table-cell-icon center text-center">
                    <div fxLayout="row wrap" fxLayoutAlign="center center">
                      <button mat-button type="button" (click)="uploader.clearQueue()" [disabled]="row.status === 'Cleared'">Clear all</button>
                      <!-- <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="Application menu" [matMenuTriggerData]="{row: row}">
                      <mat-icon>more_vert</mat-icon>
                    </button> -->
                    </div>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="fileIcon">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-table-cell-icon center text-center"> </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="mat-table-cell-icon center text-center">&nbsp;</mat-cell>
                </ng-container>
                <ng-container matColumnDef="attached">
                  <mat-cell *matCellDef="let row" class="cell_15">
                    <div fxFlex="100">
                      <div fxLayout="row wrap" fxLayoutAlign="start start">
                        <small><strong>Attached files:</strong></small>
                      </div>
                    </div>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="files">
                  <mat-cell *matCellDef="let row" class="cell_75" style="min-width: 800px;">
                    <div fxFlex="100">
                      <ng-container *ngFor="let file of row.attachedFiles">
                        <div fxLayout="row wrap" fxLayoutAlign="start center">
                          &nbsp; &nbsp;
                          <p class="mb-0">
                            <small>
                              <ng-container *ngIf="file.status === 'pending'; else savedFile"><strong>({{file.status | titlecase}})</strong>
                              </ng-container>
                              <ng-template #savedFile>
                                <mat-icon class="material-icons-outlined mat-18 mr-05 prt-03">task</mat-icon>
                              </ng-template>
                              {{file.name}}
                              <ng-container *ngIf="file.status === 'pending'; else downloadFileLink">
                                <button mat-icon-button type="button" matTooltip="Remove file" matTooltipPosition="right" (click)="removedAttached(file)" class="ml-05">
                                  <mat-icon class="material-icons-outlined mat-18 prt--03">close</mat-icon>
                                </button>
                              </ng-container>
                              <ng-template #downloadFileLink>
                                <button mat-icon-button type="button" matTooltip="Download file" matTooltipPosition="right" (click)="downloadFile(file)" class="ml-05">
                                  <mat-icon class="material-icons-outlined mat-18 prt--03">file_download</mat-icon>
                                </button>
                              </ng-template>
                            </small>
                          </p>
                          &nbsp;


                        </div>
                      </ng-container>
                    </div>
                  </mat-cell>
                </ng-container>


                <mat-header-row mat-header-row *matHeaderRowDef="itemsColumns; sticky: true" class="pb-10"></mat-header-row>
                <mat-row mat-row *matRowDef="let row; columns: itemsColumns;" class="pv-05 pt-15" style="border-bottom: none;" [ngClass]="row.status"></mat-row>
                <mat-row mat-row *matRowDef="let row; columns: ['fileIcon','action', 'attached', 'files'];" class="pv-05 pb-15 pt-15"></mat-row>
                <!-- <mat-row mat-row *matRowDef="let row; columns: ['fileIcon', 'attached', 'files'];"></mat-row> -->
                <!-- <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></mat-footer-row> -->
              </mat-table>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="center start" fxShow.lt-md fxHide.gt-sm>
              <p class="mb-0 mt-10 text-center"><small>Swipe left to scroll</small></p>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="uploader?.queue?.length > 0">
          <br />
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <h5 [@400]="'fadeIn'">
              <mat-icon class="material-icons-outlined mr-05 prt-05">folder</mat-icon> Files added&mdash;review and upload files below.
            </h5>
          </div>
        </ng-container>
        <!-- <mat-menu #appMenu="matMenu">
          <ng-template matMenuContent let-aliasMenuItems="row">
            <ng-container *ngIf="aliasMenuItems && aliasMenuItems.status === 'Items Needed'">
              <button mat-menu-item>
                <mat-icon>priority_high</mat-icon>
                <span>View items needed</span>
              </button>
            </ng-container>
          </ng-template>
        </mat-menu> -->
        <!-- <br />
        <br />
        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <h5 class="ph-20 font-weight-600">Attach items</h5>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <p class="ph-20 mb-05">File uploads are restricted to PDFs for documents, JPEGs and PNGs for images.
          </p>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <div [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" ng2FileDrop [uploader]="uploader" class="well my-drop-zone clickable">
            <label for="file-upload">
              <div fxLayout="row wrap" fxLayoutAlign="center center">
                <mat-icon class="material-icons-outlined mat-48">upload_file</mat-icon>
              </div>
              <br />
              <div fxLayout="row wrap" fxLayoutAlign="center center">
                <p>Drag and drop your files here or click to browse your system</p>
              </div>
              <br />
              <div fxLayout="row wrap" fxLayoutAlign="center center">
                <p [@400]="'fadeIn'">{{ uploader?.queue?.length>1 ? uploader?.queue?.length + ' files' : uploader?.queue?.length + ' file' }} attached</p>
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="center center">
                <input type="file" id="file-upload" #file ng2FileSelect [uploader]="uploader" (onFileSelected)="onFileSelected($event)" accept=".pdf, .png, .jpg" multiple style="display: none;" hidden />
              </div>
            </label>
            <br />
          </div>
        </div> -->
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <input type="file" id="file-upload" #file ng2FileSelect [uploader]="uploader" (onFileSelected)="onFileSelected($event)" accept=".pdf, .png, .jpg" multiple style="display: none;" hidden />
        </div>
        <div #uploadingItems></div>
        <ng-container *ngIf="uploader?.queue?.length > 0">
          <div class="grid-container grid-container_full pb-10 pl-0 pr-0">
            <div fxLayout="row wrap" fxLayoutAlign="start center">
              <h5 class="ph-20 font-weight-600">Attach items</h5>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start center">
              <p class="ph-20 mb-05">File uploads are restricted to PDFs for documents, JPEGs and PNGs for images.
              </p>
            </div>
            <br />
            <br />

            <div fxLayout="row wrap" fxLayoutAlign="start center" class="ph-20">
              <div fxFlex="calc(46.666% - 100px)">
                <p class="table-header">Name</p>
              </div>
              <div fxFlex="calc(20% - 100px)">
                <p class="table-header">Size</p>
              </div>
              <div fxFlex="calc(33.333% - 100px)">
                <p class="table-header">Progress</p>
              </div>
              <div fxFlex="100px">
                <p class="table-header"></p>
              </div>

            </div>

            <ng-container *ngFor="let item of uploader.queue">
              <div fxLayout="row wrap" fxLayoutAlign="center center">
                <mat-divider fxFlex></mat-divider>
              </div>
              <div [ngClass]="{'complete': item.progress === 100}" class="ph-20">
                <div fxLayout="row wrap" fxLayoutAlign="start center" [@400]="'fadeIn'" class="pv-10" style="min-height: 75px;">
                  <div fxFlex="calc(46.666% - 100px)">
                    <p class="mb-0">{{ item?.file?.name }}</p>
                  </div>
                  <div fxFlex="calc(20% - 100px)">
                    <p class="mb-0">{{ item?.file?.size/1024/1024 | number:'.2' }} MB</p>
                  </div>
                  <div fxFlex="calc(33.333% - 100px)" class="pl-05 pr-20">
                    <div fxLayout="row wrap" fxLayoutAlign="start center">
                      <div fxFlex="80%">
                        <mat-progress-bar mode="buffer" bufferValue="100" [value]="item.progress" color="primary" [ngClass]="{'mat-success': item.progress === 100}"></mat-progress-bar>
                      </div>
                    </div>
                  </div>
                  <div fxFlex="100px">
                    <ng-container *ngIf="item.progress === 100; else showRemove">
                      <div fxLayout="row wrap" fxLayoutAlign="center center">
                        <p class="mb-0">Completed</p>
                      </div>
                    </ng-container>
                    <ng-template #showRemove>
                      <div fxLayout="row wrap" fxLayoutAlign="center center">
                        <button mat-button type="button" (click)="removedFileAttached(item)" [disabled]="item.isReady || item.isUploading || item.isSuccess">Remove</button>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </ng-container>
            <br />
            <div fxLayout="row wrap" fxLayoutAlign="center center">
              <p class="mb-0"><small>Do not refresh the page. Refreshing the page will result in losing your queued uploads.</small></p>
            </div>
            <br />
            <div fxLayout="row wrap" fxLayoutAlign="center center">
              <mat-divider fxFlex></mat-divider>
            </div>
            <br />
            <div fxLayout="row wrap" fxLayoutAlign="center center" class="mt-05">
              <button mat-raised-button type="submit" color="primary" [@400]="'fadeIn'" (click)="uploadDocs()">
                Upload {{ uploader?.queue?.length>1 ? uploader?.queue?.length + ' files' : uploader?.queue?.length + ' file' }}
              </button>
            </div>
          </div>
        </ng-container>
      </mat-card>
    </div>
  </div>
</div>

<ng-template #noItems>
  <br />
  <br />
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-icon class="material-icons-outlined mat-48">done</mat-icon>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <h6 class="mb-0" class="text-center mt-15 mb-20">Looks like we don't need any items from you.</h6>
  </div>
  <br />
  <br />
</ng-template>
<ng-template #loading>
  <div fxLayout="row wrap" fxLayoutAlign="center stretch">
    <div class="loading">
      <mat-spinner [diameter]="36" color="primary"></mat-spinner>
    </div>
  </div>
</ng-template>
