@import '../../../assets/variables';
@import url('https://fonts.googleapis.com/css?family=Special+Elite');

.hero {
  padding: 50px 0;
  background-image: linear-gradient(rgba(38, 38, 40, 0.72) 0%, rgba(38, 38, 40, 0.72) 100%), url(/assets/images/contemporary-room.jpg);
  background-position: 0% 50%;
  h1,
  h5,
  p {
    color: $white;
  }

}

.testimonials {
  min-height: 580px;

  @media screen and (max-width: 991px) {
    min-height: 600px;
  }

  .testimonial-quote {
    text-indent: 50px;
  }

  .equal-housing-icon {
    height: 40px;
    width: auto;
    fill: #636363;
  }
}


blockquote {
  font-weight: 100;
  font-size: 1rem;
  line-height: 2rem;
  position: relative;
  margin: 0;
  padding: .5rem;
}

blockquote:before,
blockquote:after {
  font-family: 'Special Elite', cursive;
  position: relative;
  color: #a1a2a6;
  font-size: 2rem;
  padding: 5px;
  width: auto;
}

blockquote:before {
  content: '“';
  left: 0rem;
  top: 0;
}

blockquote:after {
  content: '”';
  right: 0rem;
  bottom: 0;
}

cite {
  line-height: 3;
  text-align: left;
}

.team-header-img-container {
    position: relative;
    overflow: hidden;
    width: 160px;
    height: 160px;

    .team-header-img {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      overflow: hidden;
      border-radius: 8px;
    }
  }
