@import '../../../../assets/variables';

.partner {

  .partner-standout-image {
    height: auto;
    width: 240px;
    max-width: 50vw;
    margin: 15px;
    border-radius: 8px;

    &.square {
      width: 320px;
      max-height: initial;
    }

  }

  h1 {
    font-size: 2rem;
  }
}

.partner-standout-image {
  height: auto;
  width: 400px;
  max-width: 50vw;
  margin: 15px;
  border-radius: 8px;

}

.g-maps-screenshot {
  position: relative;
  width: 100%;
  height: 450px;
  // max-height: 50vh;   
  // max-height: 75vh;
  background-image: url(/assets/images/g-maps-screenshot.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 47%;

}
