<div class="light-bg partner">
  <div #topOfPage></div>
  <div class="grid-container">
    <!-- Subsection 5: Stand Out -->
    <br />
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <img src="../../../../assets/images/partners/niko-kambouris.png" class="partner-standout-image mat-elevation-z05"
        alt="Niko Kambouris is the Principal Broker at Rize Property Management and is a licensed Real Estate Agent for the state of Utah." />
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <h1 class="mb-05 font-weight-400 text-center">Niko Kambouris</h1>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <p class="font-weight-400 ph-10-sm text-center">Principal Broker at Rize Property Management and Real Estate Agent</p>
    </div>
    
    <div fxLayout="row wrap" fxLayoutAlign="center center" class="ph-10-sm mb-10">
      <a mat-raised-button href="tel:8012107002" class="text-primary ml-15 font-weight-400 mt-15">
        <mat-icon class="material-icons-outlined mat-18 mr-05">phone</mat-icon> 801-210-7002
      </a>
      <ng-container *ngIf="!auth.isLoggedIn; else showContactEmail">
        <button mat-raised-button matTooltip="Must be logged in to see email" [matTooltipPosition]="above" class="text-primary ml-15 font-weight-400 mt-15">
          <mat-icon class="material-icons-outlined mat-18 mr-05">email</mat-icon> ******@rizehomesource.com
        </button>
      </ng-container>
      <ng-template #showContactEmail>
        <a mat-raised-button href="mailto:niko@rizehomesource.com" class="text-primary ml-15 font-weight-400 mt-15" rel="noopener">
          <mat-icon class="material-icons-outlined mat-18 mr-05">email</mat-icon> niko@rizehomesource.com
        </a>
      </ng-template>
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <a mat-raised-button class="text-primary font-weight-400 ml-15 mt-15" target="_blank" rel="noopener"
          href="https://www.google.com/maps/place/Rize+Property+Management+Salt+Lake+County+-+Residential+Property+Management+Utah/@40.7345949,-111.8905004,17z/data=!4m13!1m7!3m6!1s0x8752f53335d625d9:0x92c5df38b1bd7df0!2s1600+S+State+St,+Salt+Lake+City,+UT+84115!3b1!8m2!3d40.7345878!4d-111.8884908!3m4!1s0x8752f53330f8d4db:0x1507d39b82419c84!8m2!3d40.7345872!4d-111.8884909">
          <mat-icon class="material-icons-outlined mat-18 mr-05 prt--02">place</mat-icon> 1600 S State Street,
          Salt Lake City, UT 84115
        </a>
      </div>
    </div>
    <br />
  </div>
</div>
<div class="grid-container ph-15 ph-10-sm">
  <!-- Subsection 5: Stand Out -->
  <br fxHide.lt-md fxShow.gt-sm />
  <br fxHide.lt-md fxShow.gt-sm />
  <br fxHide.lt-md fxShow.gt-sm />
  <br fxHide.lt-md fxShow.gt-sm />
  <br fxHide.lt-md fxShow.gt-sm />
  <br />
  <div fxLayout="row wrap" fxLayoutAlign="center start">
    <h2 class="mb-15 font-weight-400 text-center">Why we trust Niko</h2>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center start">
    <mat-divider fxFlex="60"></mat-divider>
  </div>
  <br />
  <br />
  <div fxLayout="row wrap" fxLayoutAlign="start start">
    <p class="ph-10-sm">Niko is honest, trustworthy, and always looks after his clients. We have personally worked with Niko and are very impressed with his promptness, honesty, and ethical standpoint on doing what is right and fair. Whenever Niko
      has been invovled
      with a transaction, he has made sure to look after his clients. Wether it is getting the house ready for an appriasal or making sure everything on the loan balanced, he is there and ready to help.</p>
  </div>

  <br />
  <br />
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="7.5px">
    <div>
      <!-- <chat-button matType="raised" matColor="accent" buttonText="Chat with us"></chat-button> -->
      <a mat-raised-button style="font-size: 16px;" color="accent" href="tel:8013020100">Give us a call</a>
    </div>
    <div>
      <a mat-button rel="noopener" class="with-border" [routerLink]="['../../', 'apply' ]">Apply online</a>
    </div>
  </div>

  <br />
  <br />
</div>
<div class="social-standout">
  <div class="grid-container">
    <div fxLayout="row wrap" fxLayoutAlign="center center" class="mt-15">
      <mat-divider fxFlex="50"></mat-divider>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div fxLayout="row wrap" fxLayoutAlign="center center" class="mt-15">
      <h2 class="mb-05 font-weight-400">Social Media</h2>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" class="mt-15">
      <p>Connect with us on social media.</p>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="center center" class="mt-15">

      <a mat-icon-button color="white" class="btn-social" target="_blank" href="https://www.facebook.com/TheMortgagePartner/?fref=ts" rel="noopener"><img src="../../../assets/images/facebook.svg" class="mat-icon-button-social" /></a>
      <a mat-icon-button color="white" class="btn-social" target="_blank" href="https://twitter.com/MortgagePart" rel="noopener"><img src="../../../assets/images/twitter.svg" class="mat-icon-button-social" /></a>
      <a mat-icon-button color="white" class="btn-social" target="_blank" href="https://www.linkedin.com/company/the-mortgage-partner-inc-/about/" rel="noopener"><img src="../../../assets/images/linkedin.svg" class="mat-icon-button-social" /></a>

    </div>
    <br />
    <br />
    <br />
  </div>
</div>