<div class="light-bg">
  <div class="grid-container">
    <br />
    <br />
    <br />
    <br />
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <h1 class="mb-05 font-weight-400 text-center">Mortgage Partner Mortgage Glossary</h1>
    </div>
    <br />
    <br />
    <br />
  </div>
</div>

<div class="grid-container">
  <br />
  <br />
  <h3>Abstract of title</h3>
  <p>A summary of recorded transactions concerning a particular property.</p>
<br/>

  <h3>Acceleration clause</h3>
  <p>Condition in a mortgage that gives the lender the right to require immediate repayment of the loan balance if regular mortgage payments are not made or for breach of other conditions of the mortgage.</p>
<br/>

  <h3>Accrued interest</h3>
  <p>Interest earned but not yet paid.</p>
<br/>

  <h3>Adjustable rate</h3>
  <p>An interest rate that changes periodically according to an index.</p>
<br/>

  <h3>Adjustable-rate mortgage (ARM)</h3>
  <p>A mortgage with an interest rate that adjusts periodically based on a preselected index, causing interest rates and payments to rise and fall with the market.</p>
<br/>

  <h3>Adjustment interval</h3>
  <p>The time between changes in the interest rate and monthly payments on an ARM.</p>
<br/>

  <h3>Agent</h3>
  <p>One that acts for or represents another.</p>
<br/>

  <h3>Agreement of sale</h3>
  <p>Also known as a "sales contract," a written document in which a purchaser agrees to buy property under certain given conditions, and the seller agrees to sell under certain given conditions.</p>
<br/>

  <h3>Alternative documentation</h3>
  <p>A method of documenting a loan file that relies on information the borrower is likely to be able to provide, instead of waiting on verification sent to third parties for confirmation of statements made in the application.</p>
<br/>

  <h3>Amortization</h3>
  <p>A monthly repayment schedule in which a loan is repaid in fixed payments of principal and interest.</p>
<br/>

  <h3>Annual percentage rate (APR)</h3>
  <p>The annual cost of a loan, expressed as a yearly rate. APR takes into account interest, discount points, lender fees and mortgage insurance, so it will be slightly higher than the interest rate on the loan.</p>
<br/>

  <h3>Application</h3>
  <p>Often referred to as a 1003, an initial statement of personal and financial information required to approve your loan.</p>
<br/>

  <h3>Application fee</h3>
  <p>A fee charged by a lender to cover initial costs of processing a loan application, often including charges for property appraisal and a credit report.</p>
<br/>

  <h3>Appraisal</h3>
  <p>A written estimate of a property's current market value, based on recent sales information for similar properties, the current condition of the property and how the neighborhood might affect future property value.</p>
<br/>

  <h3>Appraisal fee</h3>
  <p>A fee charged by a licensed, certified appraiser to render an opinion of market value as of a specific date.</p>
<br/>

  <h3>APR</h3>
  <p>See Annual Percentage Rate.</p>
<br/>

  <h3>ARM</h3>
  <p>See Adjustable-Rate Mortgage.</p>
<br/>

  <h3>ARM assumbility</h3>
  <p>Some ARM products feature "assumability" to a qualified applicant. The assumability of an ARM loan may make it more attractive to an applicant who envisions selling their home at a later date. By incorporating an assumable mortgage product, they
    may be able to make their home more attractive to potential buyers.</p>
<br/>

  <h3>ARM disclosure</h3>
  <p>An additional disclosure specific to adjustable-rate mortgages that must be prepared and presented to the consumer within three days of application whenever an adjustable-rate mortgage transaction is contemplated (Note: home equity lines have
    their own unique disclosure).</p>
<br/>

  <h3>ARM handbook</h3>
  <p>The Consumer Handbook to Adjustable-Rate Mortgages ("CHARM" booklet) must be presented to the consumer within three days of applying for an ARM loan (in addition to the ARM disclosure referenced above).</p>
<br/>

  <h3>Amortization re-cast period</h3>
  <p>Pre-determined period of time (expressed either in a number of months and/or a percent of increase from original principal balance) after which any/all accumulated "negative amortization" (aka "deferred interest") is accounted for in a
    re-amortization of the loan balance over the remaining term of the mortgage at the then prevailing rate of interest. Amortization is also re-casted at each adjustment even if no negative amortization. Typically, any payment cap that would
    otherwise factor in is disregarded in the event of re-casting.</p>
<br/>

  <h3>Amortization re-cast limitation</h3>
  <p>Amortization is most often "capped" at 110 or 125 percent of the original principal balance. Re-amortization typically occurs every 60 months and/or at such time as the balance reaches the pre-determined "cap."</p>
<br/>

  <h3>Assessment</h3>
  <p>A local tax levied against properties that have benefited from civil improvements such as road or sidewalk construction, a sewer or street lights.</p>
<br/>

  <h3>Asset</h3>
  <p>Anything of monetary value that a person owns. Assets include real property, personal property and enforceable claims against others (including bank accounts, stocks, mutual funds and so on).</p>
<br/>

  <h3>Assignment</h3>
  <p>The transfer of property rights from one person to another.</p>
<br/>

  <h3>Assumability</h3>
  <p>A feature of a loan allowing it to be transferred to the new purchaser of a home. Assumable mortgages can help attract buyers because assumption of a loan requires lower fees and/or qualifying standards than a new loan.</p>
<br/>

  <h3>Assumption</h3>
  <p>Agreement between buyer and seller for the buyer to take over the payments on an existing mortgage.</p>
<br/>

  <div id="B">
    <br/><br/>
<mat-divider></mat-divider>
<br/>

    <br /><br />

  </div>
  <h3>Balance sheet</h3>
  <p>A document showing the financial situation-assets, liabilities and net worth of a person at a specific point in time.</p>
<br/>

  <h3>Bank check</h3>
  <p>See cashier's check.</p>
<br/>

  <h3>Bankruptcy</h3>
  <p>Proclamation by a court of an individual's (or organization's) state of insolvency, or inability, to pay debts. Petition may be brought by an individual or his creditors, with a goal of orderly and equitable settlement of obligations.</p>
<br/>

  <h3>Basis point</h3>
  <p>A unit of measure: 1/100th of one percent. For example, the difference between a 9.0 percent loan and a 9.5 percent loan is 50 basis points.</p>
<br/>

  <h3>Bearer</h3>
  <p>The legal owner of a piece of property.</p>
<br/>

  <h3>Bequest</h3>
  <p>A gift of personal property by will.</p>
<br/>

  <h3>Bill of sale</h3>
  <p>A document that transfers ownership of goods from one person to another.</p>
<br/>

  <h3>Biweekly mortgage</h3>
  <p>A payment plan under which one pays one-half of a monthly payment every two weeks, saving interest substantially over the life of the loan.</p>
<br/>

  <h3>Bona fide</h3>
  <p>In good faith.</p>
<br/>

  <h3>Bond</h3>
  <p>A document representing a right to certain payments on underlying collateral.</p>
<br/>

  <h3>Borrower (Mortgagor)</h3>
  <p>An individual who applies for and receives a loan in the form of a mortgage with the intention of repaying the loan in full.</p>
<br/>

  <h3>Broker</h3>
  <p>An individual who assists in arranging funding or negotiating contracts for a client, but does not loan money himself.</p>
<br/>

  <h3>Buy-down</h3>
  <p>A situation in which the seller contributes money that allows the lender to give the buyer a lower rate and payment, usually in exchange for an increase in sales price. With a refinance, this could be paid by the borrower.</p>
<br/>

  <h3>Buyer's broker</h3>
  <p>An agent hired by a buyer to locate a property for purchase and to represent the buyer in negotiations with the seller's broker for the best possible deal for the buyer.</p>
<br/>

  <h3>Buyer's market</h3>
  <p>Market conditions that favor buyers. With more sellers than buyers in the market, buyers have ample choice of properties and can negotiate lower prices.</p>
<br/>

  <div id="C">
    <br/><br/>
<mat-divider></mat-divider>
<br/>

    <br /><br />

  </div>
  <h3>Call option</h3>
  <p>A provision in the mortgage that gives the mortgagee the right to call the mortgage due and payable at the end of a specified period for whatever reason.</p>
<br/>

  <h3>Caps</h3>
  <p>Limits on changes in ARM interest rates or monthly payments, either in an adjustment period or over the life of the loan.</p>
<br/>

  <h3>Caps (Payment)</h3>
  <p>Consumer safeguards may limit the amount monthly payments on an adjustable-rate mortgage may change. Because they do not limit the amount of interest the lender is earning, they may cause negative amortization.</p>
<br/>

  <h3>Cash-out</h3>
  <p>A refinance for more than the balance of the original mortgage, with the extra money is taken out of the equity in the property.</p>
<br/>

  <h3>Cashier's check (or bank check)</h3>
  <p>A check whose payment is guaranteed because it was paid for in advance and is drawn on the bank's account instead of the customer's.</p>
<br/>

  <h3>CC&amp;Rs</h3>
  <p>See Covenants, Conditions and Restrictions.</p>
<br/>

  <h3>Ceiling</h3>
  <p>The maximum allowable interest rate of an adjustable-rate mortgage.</p>
<br/>

  <h3>Certificate of eligibility</h3>
  <p>Document issued by the Veterans' Administration to qualified veterans that entitles them to VA guaranteed loans. This certificate can be obtained through local VA office by submitting form DD-214 (Separation Papers) and VA form 1880 (request for
    Certificate of Eligibility).</p>
<br/>

  <h3>Certificate of occupancy</h3>
  <p>Document issued by local government agency stating that a property meets the requirements of health and building codes.</p>
<br/>

  <h3>Certificate of reasonable value (CRV)</h3>
  <p>A property appraisal performed by a VA-approved appraiser that establishes the limit on the principal of the VA loan.</p>
<br/>

  <h3>Certificate of title</h3>
  <p>Written opinion of the status of title to a property, given by an attorney or title company. This certificate does not offer the protection given by title insurance.</p>
<br/>

  <h3>Certificate of veteran status</h3>
  <p>Document given to veterans or reservists who have served 90 days of continuous active duty (including training time) which enables them to obtain lower down payments on certain FHA-insured loans. Obtainable through local VA office by submitting
    form DD-214 (Separation Paper) with form 26-8261A (request for Certificate of Veteran Status).</p>
<br/>

  <h3>Certified check</h3>
  <p>A check drawn on the issuer's account for funds that have been segregated by the bank, guaranteeing payment.</p>
<br/>

  <h3> CFPB </h3>
  <p>See Consumer Financial Protection Bureau.</p>
<br/>

  <h3>Chain of title</h3>
  <p>The chronological order of conveyance of a property from the original owner to the present owner.</p>
<br/>

  <h3>Clear title</h3>
  <p>A marketable title, free of clouds and disputes.</p>
<br/>

  <h3>Closing (or settlement)</h3>
  <p>Meeting between the buyer, seller and lender or their agents at which property and funds legally change hands.</p>
<br/>

  <h3>Closing costs</h3>
  <p>Fees incurred in a real estate or mortgage transaction and paid by borrower and/or seller during a mortgage loan closing. These typically include a loan origination fee, discount points, attorney's fees, title insurance, appraisal, survey and
    any items that must be prepaid, such as taxes and insurance escrow payments. The cost of closing is usually about 3 to 6 percent of the mortgage amount.</p>
<br/>

  <h3>Closing statement</h3>
  <p>A financial disclosure statement that lists the funds received and expected at the closing.</p>
<br/>

  <h3>Closing Disclosure</h3>
  <p>The computation of costs payable at closing that determines the seller's net proceeds and the buyer's net payment.</p>
<br/>

  <h3>Closing Disclosure</h3>
  <p>A form that itemizes the closing costs associated with purchasing a home.</p>
<br/>

  <h3>Cloud on title</h3>
  <p>An outstanding claim or encumbrance that, if valid, would affect or impair the owner's title.</p>
<br/>

  <h3>CLTV</h3>
  <p>See Combined loan-to-value.</p>
<br/>

  <h3>COFI</h3>
  <p>See Cost of funds index.</p>
<br/>

  <h3>Collateral</h3>
  <p>Assets that back a mortgage loan.</p>
<br/>

  <h3>Combined loan-to-value (CLTV)</h3>
  <p>The ratio of the total mortgage liens against the subject property to the lesser of either the appraised value or the sales price.</p>
<br/>

  <h3>Commission</h3>
  <p>Money paid to a real estate agent or broker by the seller (usually 6 to 7 percent of a home's sale price).</p>
<br/>

  <h3>Commitment</h3>
  <p>A formal offer by a lender to make a loan under certain terms or conditions to a borrower.</p>
<br/>

  <h3>Condominium</h3>
  <p>A form of property ownership in which the homeowner holds title to an individual dwelling unit and an interest in common areas and facilities of a multi-unit project.</p>
<br/>

  <h3>Conforming loan</h3>
  <p>A mortgage loan under the maximum amount of loans that FNMA and FHLMC are legally allowed to buy. Maximum loan amount varies by county.</p>
<br/>

  <h3>Consumer Financial Protection Bureau (CFPB) </h3>
  <p>A federal agency that enforces laws that protect consumers of financial products and services such as mortgages, credit cards and deposit accounts.</p>
<br/>

  <h3>Contingency</h3>
  <p>A condition that must be satisfied before a contract is legally binding before a sale can close.</p>
<br/>

  <h3>Contract of sale</h3>
  <p>The agreement between the buyer and seller on the purchase price, terms and conditions of a sale.</p>
<br/>

  <h3>Conventional loan</h3>
  <p>A mortgage not insured by the FHA or guaranteed by the VA.</p>
<br/>

  <h3>Conversion clause</h3>
  <p>A provision in some ARMs allowing you to change an ARM to a fixed-rate loan, usually after the first adjustment period. The new fixed rate is set at current rates, and there may be a charge for the conversion feature.</p>
<br/>

  <h3>Conversion option</h3>
  <p>Many "short-term" ARM products feature a conversion option. This option allows a consumer, subject to certain restrictions, to convert the loan from an adjustable to a fixed-rate mortgage.</p>
<br/>

  <h3>Convertible ARMs</h3>
  <p>ARMs with the option of conversion to a fixed loan during a given time period.</p>
<br/>

  <h3>Conveyance</h3>
  <p>The transfer of a deed or possibly a lease or mortgage.</p>
<br/>

  <h3>Cost of funds index (COFI)</h3>
  <p>An index of the weighted-average interest rate paid by savings institutions for sources of funds, usually by members of the 11th Federal Home Loan Bank District.</p>
<br/>

  <h3>Covenants, conditions and restrictions (CC&amp;Rs)</h3>
  <p>A document defining the use, requirements and restrictions of a property.</p>
<br/>

  <h3>Credit report</h3>
  <p>A report detailing the credit history of a prospective borrower, used when determining creditworthiness.</p>
<br/>

  <h3>Credit risk</h3>
  <p>The possibility that the borrower may default on financial obligations.</p>
<br/>

  <h3>CRV</h3>
  <p>See Certificate of reasonable value.</p>
<br/>

  <div id="D">
    <br/><br/>
<mat-divider></mat-divider>
<br/>

    <br /><br />

  </div>
  <h3>Debt-to-income ratio</h3>
  <p>The ratio, expressed as a percentage, that results when a borrower's monthly payment obligation on long-term debts is divided by monthly income.</p>
<br/>

  <h3>Deed</h3>
  <p>A legal document that transfers a property from one owner to another. The deed contains a description of the property, and is signed, witnessed and delivered to the buyer at closing.</p>
<br/>

  <h3>Deed of trust</h3>
  <p>Agreement to pledge property as security for a loan, used in many states in place of a mortgage. In this arrangement, the borrower transfers legal title to a trustee who holds the property in trust as security for the repayment of the debt. The
    deed of trust becomes void if the debt is repaid, but if the borrower defaults on the loan, the trustee may sell the property to pay the debt.</p>
<br/>

  <h3>Default</h3>
  <p>Failure to meet legal obligations in a contract, including failure to make payments on a loan. A mortgage is generally considered to be in default when a payment is 30 or more days past due.</p>
<br/>

  <h3>Deferred interest</h3>
  <p>Interest added to the balance of a loan when monthly payments are not sufficient to cover it. (See Negative amortization.)</p>
<br/>

  <h3>Delinquency</h3>
  <p>Failure to make payments on time.</p>
<br/>

  <h3>Deposit</h3>
  <p>Cash paid when a formal sales contract is signed. The deposit is usually held by a third party until the sale is complete.</p>
<br/>

  <h3>Depreciation</h3>
  <p>When the value of property declines.</p>
<br/>

  <h3>Discount points (or Points)</h3>
  <p>Money paid to a lender at closing in exchange for lower interest rates. Each point is equal to 1 percent of the loan amount.</p>
<br/>

  <h3>Documentary stamps</h3>
  <p>A state tax, in the forms of stamps, required on deeds and mortgages when a real estate title passes from one owner to another.</p>
<br/>

  <h3>Down payment</h3>
  <p>Money paid for a house from one's own funds at closing. The down payment will be the difference between the purchase price and mortgage amount.</p>
<br/>

  <h3>Due-on-sale clause</h3>
  <p>Provision in a mortgage or deed of trust allowing the lender to demand immediate payment of the loan balance upon sale of the property.</p>
<br/>

  <div id="E">
    <br/><br/>
<mat-divider></mat-divider>
<br/>

    <br /><br />

  </div>
  <h3>Earnest money</h3>
  <p>Deposit made by a buyer in evidence of good faith when the purchase agreement is signed.</p>
<br/>

  <h3>ECOA</h3>
  <p>See Equal Credit Opportunity Act.</p>
<br/>

  <h3>Effective interest rate</h3>
  <p>The cost of a mortgage expressed as a yearly rate, usually higher than the interest rate on the mortgage since this figure includes up-front costs.</p>
<br/>

  <h3>Encumbrance</h3>
  <p>A legal right or interest in a property that affects title and lessens the property value. Encumbrances can take the form of claims, liens, unpaid taxes and so on. These will usually have to be taken care of before a buyer may purchase a
    property.</p>
<br/>

  <h3>Equal Credit Opportunity Act (ECOA)</h3>
  <p>Federal law requiring creditors to make credit equally available without discrimination based on race, color, religion, national origin, age, sex, marital status, or receipt of income from public assistance programs.</p>
<br/>

  <h3>Equity</h3>
  <p>The percentage of property value held by the owner; the difference between the current market value of a property and the outstanding mortgage balance.</p>
<br/>

  <h3>Equity loan</h3>
  <p>A loan based on the borrower's equity in his home.</p>
<br/>

  <h3>Escrow</h3>
  <p>The neutral third party that holds money and/or documents until the escrow instructions are fulfilled and escrow can be a title company or an attorney, depending on state regulations.</p>
<br/>

  <h3>Escrow account</h3>
  <p>Account held by a lender containing funds collected as part of mortgage payments for annual expenses such as taxes and insurance, so that the homeowner does not have to pay a large sum when these fall due.</p>
<br/>

  <h3>Escrow waiver</h3>
  <p>Escrow Waiver is waiver of the requirement to fund an escrow account with lender and instead pay insurance and taxes separately. This waiver may require a fee and is not available with all loan programs.</p>
<br/>

  <div id="F">
    <br/><br/>
<mat-divider></mat-divider>
<br/>

    <br /><br />

  </div>

  <h3>Fannie Mae</h3>
  <p>See Federal National Mortgage Association.</p>
<br/>
  <h3>FHAct</h3>
  <p> See Fair Housing Act</p>
<br/>

  <h3>Fair Housing Act (FHAct)</h3>
  <p>Prohibits discrimination in real estate transactions because of race, color, religion, sex, handicap, familial status (families with children), or national origin. It applies to mortgage lending as well as other aspects of real estate
    transcations, including sales and rentals, real estate brokerage, and appraisals.</p>
<br/>

  <h3>Farmer's Home Administration (FMHA)</h3>
  <p>An agency within the U.S. Department of Agricultur that provides financing for homes and farms in small towns and rural areas.</p>
<br/>

  <h3>Federal Home Loan Mortgage Corporation (FHLMC or Freddie Mac)</h3>
  <p>Quasi-governmental agency that purchases conventional mortgages from insured depository institutions and HUD-approved mortgage bankers.</p>
<br/>

  <h3>Federal Housing Administration (FHA)</h3>
  <p>A government agency, division of the Department of Housing and Urban Development, that insures residential mortgage loans made by private lenders and sets standards for underwriting mortgage loans.</p>
<br/>

  <h3>Federal National Mortgage Association (FNMA or Fannie Mae)</h3>
  <p>A quasi government agency created by Congress that buys and sells residential loans.</p>
<br/>

  <h3>Federal Reserve</h3>
  <p>The central bank of the United States and major regulatory agency for many commercial banks.</p>
<br/>

  <h3>Fee simple</h3>
  <p>Absolute ownership of real property.</p>
<br/>

  <h3>FHA</h3>
  <p>See Federal Housing Administration.</p>
<br/>

  <h3>FHA Loan</h3>
  <p>A loan insured by the FHA open to all qualified home purchasers.</p>
<br/>

  <h3>FHLMC</h3>
  <p>See Federal Home Loan Mortgage Corporation.</p>
<br/>

  <h3>FIAR</h3>
  <p>Fully Indexed Accrual Rate (Index + Margin).</p>
<br/>

  <h3>First mortgage</h3>
  <p>A mortgage that is in first lien position, taking priority over all other liens. In the case of foreclosure, the first mortgage will be repaid before any other mortgages.</p>
<br/>

  <h3>Fixed rate</h3>
  <p>An interest rate that is fixed for the term of the loan.</p>
<br/>

  <h3>Fixed-rate mortgage</h3>
  <p>A mortgage with an interest rate that doesn't change for the life of the loan, guaranteeing fixed payments.</p>
<br/>

  <h3>Flood insurance</h3>
  <p>A form of hazard insurance required by lenders to cover properties in flood zones.</p>
<br/>

  <h3>Floor</h3>
  <p>The minimum rate of interest payable on an adjustable-rate mortgage.</p>
<br/>

  <h3>Floor (Interest - ARM)</h3>
  <p>A pre-determined amount that establishes the minimum interest rate life of a loan. This can be expressed as a percentage below the start rate, as a rate of interest independent of the start rate, or, quite typically, the "Floor" may be
    established as being equal to the Margin.</p>
<br/>

  <h3>FMHA</h3>
  <p>See Farmer's Home Administration.</p>
<br/>

  <h3>FNMA</h3>
  <p>See Federal National Mortgage Association.</p>
<br/>

  <h3>Forbearance</h3>
  <p>Grace period given when a lender postpones foreclosure to give the borrower time to catch up on overdue payments.</p>
<br/>

  <h3>Foreclosure (or repossession)</h3>
  <p>Legal process by which the lender forces the sale of a property because the borrower has not met the mortgage terms.</p>
<br/>

  <h3>Freddie Mac</h3>
  <p>See Federal Home Loan Mortgage Corporation.</p>
<br/>

  <div id="G">
    <br/><br/>
<mat-divider></mat-divider>
<br/>

    <br /><br />

  </div>
  <h3>Ginnie Mae</h3>
  <p>See Government National Mortgage Association.</p>
<br/>

  <h3>GNMA</h3>
  <p>See Government National Mortgage Association.</p>
<br/>



  <h3>Government National Mortgage Association (GNMA or Ginnie Mae)</h3>
  <p>A government agency that provides funds for VA and FHA loans.</p>
<br/>

  <h3>GPM</h3>
  <p>See Graduated Payment mortgage.</p>
<br/>

  <h3>Graduated Payment Mortgage (GPM)</h3>
  <p>A mortgage with initial low payments (with potential negative amortization) that increase regularly for several years and then level off.</p>
<br/>

  <h3>Grace period</h3>
  <p>Period of time during which a loan payment may be made after its due date without incurring a late penalty.</p>
<br/>

  <h3>Gross</h3>
  <p>Before taxes.</p>
<br/>

  <h3>Gross income</h3>
  <p>Total income before taxes or expenses are deducted.</p>
<br/>

  <h3>Gross monthly income</h3>
  <p>The total amount earned by a borrower each month.</p>
<br/>

  <h3>Guarantee</h3>
  <p>To assume liability for another's debts in the event of default.</p>
<br/>

  <h3>Guaranty</h3>
  <p>A promise by one party to pay a debt or perform an obligation contracted by another in case of that person's default.</p>
<br/>

  <div id="H">
    <br/><br/>
<mat-divider></mat-divider>
<br/>

    <br /><br />

  </div>
  <h3>Hazard insurance</h3>
  <p>Protects the insured against loss due to fire or other natural disaster in exchange for a premium paid to the insurer.</p>
<br/>

  <h3>Home equity loan</h3>
  <p>A loan secured by equity in a property. These are sought for a variety of purposes, including home improvements, major purchases or expenses and debt consolidation. Interest paid is usually tax-deductible.</p>
<br/>

  <h3>Homeowners warranty</h3>
  <p>A type of insurance that covers repairs to specified parts of a house for a specific period of time.</p>
<br/>

  <h3>Housing and Urban Development (HUD)</h3>
  <p>A U.S. government agency established to implement federal housing and community development programs; oversees the Federal Housing Administration.</p>
<br/>

  <h3>Housing code</h3>
  <p>Local government ordinance that sets minimum standards of safety and sanitation for existing residential buildings.</p>
<br/>

  <h3>Housing expense-to-income ratio</h3>
  <p>The ratio, expressed as a percentage, that results when a borrower's housing expenses are divided by his/her monthly income.</p>
<br/>

  <h3>HUD</h3>
  <p>See Housing and Urban Development.</p>
<br/>



  <div id="I">
    <br/><br/>
<mat-divider></mat-divider>
<br/>

    <br /><br />

  </div>
  <h3>Impound (or reserves)</h3>
  <p>A portion of a borrower's monthly payments held by the lender to pay for taxes, insurance and other items as they become due.</p>
<br/>

  <h3>Impound account</h3>
  <p>Savings account for accumulating that portion of a borrowers monthly payments designated for future payments of taxes and insurance. (Required by certain lenders or with certain types of financing.)</p>
<br/>

  <h3>Index</h3>
  <p>A published rate used by lenders to calculate interest adjustments on ARMs (Index + Margin = Interest Rate). Some indexes are more volatile than others.</p>
<br/>

  <h3>Index (ARM)</h3>
  <p>Established at loan origination, the index is a widely published financial indicator that, combined with the Margin, works to establish the effective rate of an adjustable-rate mortgage ("Index + Margin = Rate").</p>
<br/>

  <h3>Initial rate</h3>
  <p>The rate charged during the first interval of an ARM.</p>
<br/>

  <h3>Insolvency</h3>
  <p>Condition of a person who is unable to pay his debts as they fall due.</p>
<br/>

  <h3>Interest</h3>
  <p>Charge paid for borrowing money, calculated as a percentage of the amount borrowed.</p>
<br/>

  <h3>Interest rate</h3>
  <p>The periodic charge, expressed as a percentage, for use of credit.</p>
<br/>

  <h3>Interest rate cap</h3>
  <p>A safeguard built into ARMs to prevent drastic changes in interest rates.</p>
<br/>

  <h3>Interest rate change date</h3>
  <p>Dates upon which the rate of interest is subject to change. Initial change date and subsequent change dates may feature different terms.</p>
<br/>

  <div id="J">
    <br/><br/>
<mat-divider></mat-divider>
<br/>

    <br /><br />

  </div>
  <h3>Joint liability</h3>
  <p>Liability shared among two or more people, each of whom is liable for the full debt.</p>
<br/>

  <h3>Joint tenancy</h3>
  <p>The ownership of property by two or more persons with the survivor taking the share of the deceased.</p>
<br/>

  <h3>Jumbo loan</h3>
  <p>A mortgage larger than the limits set by the Federal National Mortgage Association and the Federal Home Loan Mortgage Corporation. Because jumbo loans cannot be funded by these two agencies, they usually carry a higher interest rate.</p>
<br/>

  <div id="L">
    <br/><br/>
<mat-divider></mat-divider>
<br/>

    <br /><br />

  </div>
  <h3>Late charge</h3>
  <p>Penalty paid by a borrower when a payment is made after the due date.</p>
<br/>

  <h3>Lender</h3>
  <p>The bank, mortgage company or mortgage broker offering a loan.</p>
<br/>

  <h3>LIBOR (London Interbank Offered Rate)</h3>
  <p>The interest rate charged among banks for short-term Eurodollar loans, and a common index for ARMs.</p>
<br/>

  <h3>Lien</h3>
  <p>A claim by one person on the property of another for payment of a debt.</p>
<br/>

  <h3>Life cap (Interest)</h3>
  <p>A pre-determined amount that establishes the maximum interest rate life of loan. This can be expressed as a percentage above the start rate or as a rate of interest independent of the start rate.</p>
<br/>

  <h3>Loan administration</h3>
  <p>The collection of mortgage payments from borrowers and related responsibilities (such as handling escrows for property tax and insurance, foreclosing on defaulted loans and remitting payments to investors).</p>
<br/>

  <h3>Loan application</h3>
  <p>A document required by lenders prior to loan approval containing detailed information about the borrower and property.</p>
<br/>

  <h3>Loan application fee</h3>
  <p>A fee a prospective buyer pays a lender when applying for a mortgage.</p>
<br/>

  <h3>Loan Estimate</h3>
  <p>This document sets out the costs associated with a mortgage, including the interest rate, lender fees, title charges, pre-paid interest and insurance. The government requires that your lender give you a Loan Estimate within three days of
    receiving your loan application. The Loan Estimate is only an estimate; some fees can change before closing. Lender fees and the interest rate (if you have locked your rate) may not increase, and certain other costs may not increase by more than
    10 percent.</p>
<br/>

  <h3>Loan origination fee</h3>
  <p>A fee a lender charges to process a mortgage, usually expressed as a percentage of the loan (or points), which pays for the work in evaluating and processing the loan.</p>
<br/>

  <h3>Loan servicing</h3>
  <p>See Loan administration.</p>
<br/>

  <h3>Loan to value ratio (LTV)</h3>
  <p>The percentage of the property value borrowed. (Loan amount/property value=LTV)</p>
<br/>

  <h3>Lock or lock-in</h3>
  <p>A lender's guarantee of an interest rate for a set period of time, usually between loan application and loan closing. This protects borrowers against rate increases during that time.</p>
<br/>

  <h3>LTV</h3>
  <p>See Loan to Value Ratio.</p>
<br/>

  <div id="M">
    <br/><br/>
<mat-divider></mat-divider>
<br/>

    <br /><br />

  </div>
  <h3>Margin</h3>
  <p>The number of percentage points added to an index to calculate the interest rate on an ARM at each adjustment.</p>
<br/>

  <h3>Marketable title</h3>
  <p>A title free and clear of liens, clouds or other defects that would prevent the sale of the property.</p>
<br/>

  <h3>Market rate</h3>
  <p>The average rate charged by lenders for a loan.</p>
<br/>

  <h3>Market value</h3>
  <p>The highest price that a buyer would pay for a property and the lowest price a seller would accept.</p>
<br/>

  <h3>Monthly housing expense</h3>
  <p>Total monthly expense of principal, interest, taxes and insurance.</p>
<br/>

  <h3>Mortgage</h3>
  <p>A document that creates a lien on a property as security for the payment of a debt.</p>
<br/>

  <h3>Mortgage banker</h3>
  <p>A professional that originates mortgage loans, funding them with his own money.</p>
<br/>

  <h3>Mortgage broker</h3>
  <p>A specialist that arranges financing for borrowers, but places loans with lenders rather than funding them with their own money.</p>
<br/>

  <h3>Mortgagee</h3>
  <p>The lender in a mortgage loan transaction.</p>
<br/>

  <h3>MIP (Mortgage insurance premium)</h3>
  <p>Insurance purchased by borrower to insure against default on a FHA loans.</p>
<br/>

  <h3>Mortgage loan</h3>
  <p>A loan for which real estate serves as collateral to provide for repayment in case of default.</p>
<br/>

  <h3>Mortgage note</h3>
  <p>A legal document that obligates a borrower to repay a loan at a stated interest rate during a specified period of time. The agreement is secured by a mortgage.</p>
<br/>

  <h3>Mortgagor</h3>
  <p>The borrower in a mortgage loan transaction.</p>
<br/>

  <div id="N">
    <br/><br/>
<mat-divider></mat-divider>
<br/>

    <br /><br />

  </div>
  <h3>Negative amortization</h3>
  <p>An increase in principal balance that occurs when monthly payments are not large enough to pay all interest due on a loan, usually caused when payment caps prevent sufficient payment increases. Unpaid deferred interest is added to the loan
    balance, causing the borrower to owe more than the loan's original amount.</p>
<br/>

  <h3>Net</h3>
  <p>After taxes.</p>
<br/>

  <h3>Net effective income</h3>
  <p>Gross income minus estimated federal income tax.</p>
<br/>

  <h3>Non-assumption clause</h3>
  <p>A statement in a mortgage contract forbidding the assumption of the mortgage by another borrower without the prior approval of the lender.</p>
<br/>

  <h3>Non-conforming loan</h3>
  <p>A conventional loan that can not be sold to Fannie and Freddie Mac. Often, these loans are larger than the conforming loan amount.</p>
<br/>

  <h3>Non-dischargeable debt</h3>
  <p>Debt, such as taxes, that cannot be forgiven in a bankruptcy liquidation.</p>
<br/>

  <h3>Note</h3>
  <p>Legal document stating the terms of a debt and a promise to repay it.</p>
<br/>

  <h3>Notice of default</h3>
  <p>Written notice to a borrower that a default has occurred and that legal action may be taken.</p>
<br/>

  <div id="O">
    <br/><br/>
<mat-divider></mat-divider>
<br/>

    <br /><br />

  </div>
  <h3>Office of Comptroller Currency</h3>
  <p>The federal financial regulatory body that oversees the nation's federally chartered banks and savings institutions.</p>
<br/>

  <h3>Origination fee</h3>
  <p>A fee that a lender charges, usually expressed as a percentage of the loan (or points) for evaluating and processing the loan.</p>
<br/>

  <h3>Owner financing</h3>
  <p>A purchase in which the seller provides all or part of the financing.</p>
<br/>

  <div id="P">
    <br/><br/>
<mat-divider></mat-divider>
<br/>

    <br /><br />

  </div>
  <h3>Payment cap</h3>
  <p>Limit on the amount by which a borrower's ARM payments may increase, regardless of rise in interest rates. This may result in negative amortization.</p>
<br/>

  <h3>Payment cap (ARM)</h3>
  <p>A pre-determined amount that establishes the maximum by which the payment can increase, irrespective of increases to the interest rate.</p>
<br/>

  <h3>Payment change date</h3>
  <p>Dates upon which the payment amount is subject to change. Products featuring "negative amortization" typically will include a payment change date which differs from the interest rate change date in frequency.</p>
<br/>

  <h3>Per diem interest</h3>
  <p>Interest calculated per day. Depending on the day of the month on which closing takes place, you'll have to pay interest from the date of closing to the end of the month.</p>
<br/>

  <h3>Periodic interest cap</h3>
  <p>An interest cap that restricts how much adjustable-rate mortgage rates may increase or decrease on pre-determined change dates.</p>
<br/>

  <h3>Permanent loan</h3>
  <p>A long-term mortgage of 10 years or more.</p>
<br/>

  <h3>PITI</h3>
  <p>Also called "monthly housing expenses," principal, interest, taxes and insurance are the components of a monthly mortgage payment.</p>
<br/>

  <h3>PMI</h3>
  <p>See Private Mortgage Insurance.</p>
<br/>

  <h3>Points (or Discount points)</h3>
  <p>Interest prepaid to the lender at closing. Each point is equal to 1 percent of the loan amount. Paying more points at closing generally reduces a loan's interest rate and monthly payments..</p>
<br/>

  <h3>Power of attorney</h3>
  <p>Legal document authorizing one person to act on behalf of another.</p>
<br/>

  <h3>Prepaid expenses</h3>
  <p>Taxes, insurance and assessments paid in advance of their due dates, including at closing.</p>
<br/>

  <h3>Prepaid interest</h3>
  <p>Charged to a borrower at closing to cover interest on the loan between the closing date and the end of that month.</p>
<br/>

  <h3>Prepayment</h3>
  <p>A full or partial payment of the principal before the due date. This might occur if the borrower makes extra payments, sells the property or refinances the existing loan.</p>
<br/>

  <h3>Pre-payment penalty</h3>
  <p>Some ARM loans contain a provision against pre-payment without penalty. Terms of pre-payment penalty clauses vary from product to product, investor to investor, and state to state. Many states and even local municipalities have, or are
    contemplating, enacting legislation against pre-payment penalties.</p>
<br/>

  <h3>Prequalification</h3>
  <p>The process of determining how much money a prospective homebuyer may borrow, prior to application for a loan.</p>
<br/>

  <h3>Primary mortgage market</h3>
  <p>Includes banks, savings and loans, credit unions, and mortgage bankers who make mortgage loans directly to borrowers. These lenders sometimes sell their mortgages to lenders such as FNMA in the secondary mortgage market.</p>
<br/>

  <h3>Prime rate</h3>
  <p>Lowest commercial interest rate charged by a bank on short-term loans to its most credit-worthy customers.</p>
<br/>

  <h3>Principal</h3>
  <p>The amount of debt, not counting interest, left on a loan.</p>
<br/>

  <h3>Private Mortgage Insurance (PMI)</h3>
  <p>Insurance purchased by a buyer on a conventional loan when a down payment is less than 20 percent of the purchase price to protect the lender against default.</p>
<br/>

  <h3>Profit and loss statement</h3>
  <p>A financial statement showing revenue, expenses and profits over a period of time.</p>
<br/>

  <h3>Property tax</h3>
  <p>A government tax based on the market value of a property.</p>
<br/>

  <h3>Purchase agreement</h3>
  <p>A contract signed by buyer and seller stating the terms and conditions of a home sale.</p>
<br/>

  <div id="Q">
    <br/><br/>
<mat-divider></mat-divider>
<br/>

    <br /><br />

  </div>
  <h3>Qualifying rate</h3>
  <p>Adjustable-rate mortgages often employ a "qualifying fate" that differs from the "start rate." The qualifying rate may be a pre-determined percentage of interest (i.e. "8 percent"), expressed as the "highest possible rate of interest at the
    beginning of the 2nd year", based on the start rate (i.e. "start rate + 2 percent), expressed as the "Fully Indexed Accrual Rate" ("FIAR") or another amount.</p>
<br/>

  <h3>Qualifying ratio</h3>
  <p>A comparison of a borrower's expenses (housing or total debt) to his income.</p>
<br/>

  <div id="R">
    <br/><br/>
<mat-divider></mat-divider>
<br/>

    <br /><br />

  </div>

  <h3>Real Estate Agent</h3>
  <p>A real estate professional who is a member of the National Association of Realtors.</p>
<br/>

  <h3>Real estate broker</h3>
  <p>An agent representing a buyer or seller in a real estate transaction.</p>
<br/>

  <h3>Real Estate Settlement Procedures Act</h3>
  <p>A law that governs acceptable practices and fees in real estate transactions.</p>
<br/>

  <h3>Real property</h3>
  <p>Land and everything that is permanently affixed to it.</p>
<br/>

  <h3>Reclamation</h3>
  <p>The right of the person with title to a property to recover it from the debtor in case of a bankruptcy.</p>
<br/>

  <h3>Reconveyance</h3>
  <p>The transfer of property back to the owner when a mortgage is fully repaid.</p>
<br/>

  <h3>Recording</h3>
  <p>The act of entering documents concerning title to a property into public records.</p>
<br/>

  <h3>Recording fee</h3>
  <p>Money paid to an agent for entering the sale of a property into the public records.</p>
<br/>

  <h3>Refinancing</h3>
  <p>The process of paying off one loan with the proceeds from a new loan secured by the same property.</p>
<br/>

  <h3>Rent with option to buy</h3>
  <p>See Lease-purchase mortgage loan.</p>
<br/>

  <h3>Repossession (or foreclosure)</h3>
  <p>Legal process by which the lender forces the sale of a property because the borrower has not met the mortgage terms.</p>
<br/>

  <h3>Rescission</h3>
  <p>The cancellation of a contract, permitted by law within three days of signing a mortgage not used to purchase a home.</p>
<br/>

  <h3>Reserves</h3>
  <p>See Impound.</p>
<br/>

  <h3>RESPA</h3>
  <p>See Real Estate Settlement Procedures Act.</p>
<br/>

  <div id="S">
    <br/><br/>
<mat-divider></mat-divider>
<br/>

    <br /><br />

  </div>
  <h3>Sale agreement</h3>
  <p>A contract signed by buyer and seller stating the terms and conditions under which a property will be sold.</p>
<br/>

  <h3>Satisfaction</h3>
  <p>The payment of a debt that satisfies an obligation.</p>
<br/>

  <h3>Secondary mortgage market</h3>
  <p>The market into which primary mortgage lenders sell the mortgages they make to obtain funds to originate more new loans. This includes investors such as Fannie Mae and Freddie Mac.</p>
<br/>

  <h3>Second mortgage</h3>
  <p>A subordinate mortgage made in addition to a first mortgage.</p>
<br/>

  <h3>Seller's broker</h3>
  <p>An agent hired by a seller to represent him/her in negotiations to sell property.</p>
<br/>

  <h3>Seller's market</h3>
  <p>Market conditions that favor sellers. With more buyers than sellers in the market, sellers have the negotiating power as demand exceeds supply.</p>
<br/>

  <h3>Servicing (or Loan administration)</h3>
  <p>The collection of mortgage payments from borrowers and related responsibilities (such as handling escrows for property tax and insurance, foreclosing on defaulted loans and remitting payments to investors).</p>
<br/>

  <h3>Settlement (or Closing)</h3>
  <p>A meeting between the buyer, seller and lender (or their agents) where property and funds legally change hands.</p>
<br/>

  <h3>Settlement cost (HUD guide)</h3>
  <p>A booklet given to consumers after applying for a loan that provides an overview of the lending process.</p>
<br/>

  <h3>Settlement costs</h3>
  <p>See Closing costs.</p>
<br/>



  <h3>Simple interest</h3>
  <p>Interest that is computed only on the principal balance.</p>
<br/>

  <h3>Start rate</h3>
  <p>A pre-determined rate of interest that will be applied to the loan until the date of the first interest rate change.</p>
<br/>

  <h3>Subsidized second mortgage</h3>
  <p>Alternative financing option for low- and moderate-income households that also includes a down payment and a first mortgage, with funds for the second mortgage provided by city, county or state housing agencies, foundations or nonprofit
    corporations. Payment on the second mortgage is often deferred and carries low interest rates (if any). Part of the debt may be forgiven for each year the family remains in the home.</p>
<br/>

  <h3>Survey</h3>
  <p>A measurement of land, prepared by a licensed surveyor, showing a property's boundaries, elevations, improvements and relationship to surrounding tracts.</p>
<br/>

  <h3>Sweat equity</h3>
  <p>Value added to a property by improvements made by the owner.</p>
<br/>

  <div id="T">
    <br/><br/>
<mat-divider></mat-divider>
<br/>

    <br /><br />

  </div>
  <h3>Tax impound</h3>
  <p>Money paid to and held by a lender for annual tax payments. See Impound Account.</p>
<br/>

  <h3>Tax lien</h3>
  <p>Claim against a property for unpaid taxes.</p>
<br/>

  <h3>Tax sale</h3>
  <p>Public sale of property by a government authority as a result of nonpayment of taxes.</p>
<br/>

  <h3>Term</h3>
  <p>The number of years until a loan is due to be paid in full.</p>
<br/>

  <h3>Title</h3>
  <p>A document that gives evidence of ownership of a property, as well as rights of ownership and possession.</p>
<br/>

  <h3>Title company</h3>
  <p>A company that insures the title to a property.</p>
<br/>

  <h3>Title insurance</h3>
  <p>Insurance that protects the lender (lender's policy) or buyer (owner's policy) against loss due to disputes over property ownership.</p>
<br/>

  <h3>Title search</h3>
  <p>Examination of municipal records to ensure that the seller is the legal owner of a property and that there are no liens other claims against the property.</p>
<br/>

  <h3>Transfer tax</h3>
  <p>Tax paid when a title passes from one owner to another.</p>
<br/>

  <h3>Trust account</h3>
  <p>An account maintained by a broker or escrow company to handle all money collected for clients.</p>
<br/>

  <h3>Trustee</h3>
  <p>Someone given legal responsibility to hold property in the best interest of another.</p>
<br/>

  <h3>Truth-in-Lending Act</h3>
  <p>A federal law requiring written disclosure of the terms of a mortgage (including APR and other charges) by a lender to a borrower after application.</p>
<br/>

  <div id="U">
    <br/><br/>
<mat-divider></mat-divider>
<br/>

    <br /><br />

  </div>
  <h3>Underwriting</h3>
  <p>The process of verifying data and evaluating a loan application. The underwriter gives the final loan approval.</p>
<br/>

  <br/><br/>
<mat-divider></mat-divider>
<br/>
  <br /><br />

  <div id="V"></div>
  <h3>VA Loan</h3>
  <p>A home loan available to veterans with little or no down payment and guaranteed by the U.S. Veterans' Administration.</p>
<br/>

  <h3>Variable rate mortgage</h3>
  <p>See Adjustable-rate mortgage.</p>
<br/>

  <h3>Variable rate</h3>
  <p>An interest rate that changes periodically in relation to an index.</p>
<br/>

  <h3>Verification of deposit (VOD)</h3>
  <p>A document signed by the borrower's bank or other financial institution that verifies the borrower's account balance and history.</p>
<br/>

  <h3>Verification of employment (VOE)</h3>
  <p>A document signed by the borrower's employer that verifies the borrower's position and salary.</p>
<br/>

  <h3>VOD</h3>
  <p>See Verification of deposit.</p>
<br/>

  <h3>VOE</h3>
  <p>See Verification of employment.</p>
<br/>

  <div id="W-Z">
    <br/><br/>
<mat-divider></mat-divider>
<br/>

    <br /><br />

  </div>
  <h3>Waiver</h3>
  <p>Voluntary relinquishment or surrender of some right or privilege.</p>
<br/>

  <h3>Walk-through</h3>
  <p>A final inspection of a home to check for problems that may need to be corrected before closing.</p>
<br/>

  <h3>Warehouse fee</h3>
  <p>Mortgage firms often borrow funds from a warehouse lender on a short-term basis in order to originate loans that will later be sold to investors in the secondary mortgage market. Lenders may charge a warehouse fee to cover an expense charged by
    the warehouse lender.</p>
<br/>

  <br/><br/>
<mat-divider></mat-divider>
<br/>

  <br /><br />

  <h3>Zoning ordinances</h3>
  <p>Local laws that establish building codes and usage regulations for properties in a specified area. This creation of districts specifies different types of property uses, such as commercial or residential.</p>
<br/>

  <br/><br/>

</div>
